<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Andrew Yang - Venture for America | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail ventureamerica">
      <%- include ../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="/img/fellows/andrew_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Andrew Yang</h1>
                <h3>Founder and CEO, Venture for America</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Entrepreneurship</p>
              </div>
              <p class="highlight fellow-bio">
                Andrew Yang is Founder and CEO of Venture for America and the author of Smart People Should Build Things. Venture for America places top college graduates in startups in low-cost U.S. cities for two years, generating job growth and training the next generation of entrepreneurs. Andrew previously worked in startups and early-stage growth companies for more than twelve years. He was the CEO and President of Manhattan GMAT, a test preparation company acquired by Washington Post/Kaplan; co-founded an Internet company; and was an executive at a healthcare software startup. Andrew was named a Champion of Change by the White House in 2011 and one of Fast Company’s 100 Most Creative People in Business in 2012 and 2013. He graduated from Columbia Law and Brown University and lives in New York.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 col-centered">
              <a href="http://www.ventureforamerica.org" target="_blank">
                <img src="/img/logos/ventureamerica.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                Venture for America recruits the best and brightest college graduates to work for two years at emerging startups and early-stage companies in lower-cost cities. Modeled after Teach for America, Venture for America provides a path for entrepreneurship to college graduates who want to learn how to build companies and create jobs.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Andrew's work?
              </h2>
              <p class="subhead">
                Join our 2015 class of Social Impact Fellows
              </p>
              <br>
              <a href="/application.html" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>


    </body>
 </html>
