<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Eugenie Teasley - Spark+Mettle | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail sparkmettle">
      <%- include ../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="/img/fellows/eugenie_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Eugenie Teasley</h1>
                <h3>Founder & Chief Executive, Spark+Mettle; London, England</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Youth Empowerment</p>
              </div>
              <p class="highlight fellow-bio">
                Eugenie Teasley is founder and CEO of Spark+Mettle, a youth aspirations agency that builds character strengths, skills, and networks for less privileged young people. She holds degrees from Oxford University and UC Berkeley. She has taught in south London and has lived and worked in San Francisco. She speaks and writes on topics that center around flourishing, entrepreneurship, feminism, and youth development. She blogs for The Guardian about her experience as a Clore Social Leadership Programme Fellow. Eugenie lives in Brighton, England.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 col-centered">
              <a href="http://www.sparkandmettle.org.uk" target="_blank">
                <img src="/img/logos/sparkmettle.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                Spark+Mettle is a charity that uses coaching, technology, and collaborative events to build character strengths, soft skills, and networks in young people. We run a range of programs both online and in-person that enable individuals to fulfill their potential, and we produce tools and workshops that support others to do the same.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Eugenie's work?
              </h2>
              <p class="subhead">
                Join our 2015 class of Social Impact Fellows
              </p>
              <br>
              <a href="/application.html" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>


    </body>
 </html>
