<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Jake Harriman - Nuru International | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="../css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail nuru">
      <%- include ../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="../img/fellows/jake_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Jake Harriman</h1>
                <h3>Founder and CEO, Nuru International</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Poverty alleviation</p>
              </div>
              <p class="highlight fellow-bio">
                Jake graduated with distinction from the U.S. Naval Academy and served over seven years as an Infantry and Special Operations Platoon Commander in the Marine Corps. He led four operational deployments and was awarded the Bronze Star for actions in combat. From his experiences, Jake came to believe that the “War on Terror” wouldn’t be won on the battlefield alone: the contributing causes of terrorism – disenfranchisement, lack of education, and extreme poverty – must also be eradicated. Jake left his military career and enrolled at the Stanford Graduate School of Business to build an organization focused on tackling extreme poverty, Nuru International. He lives in Palo Alto.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 col-centered">
              <a href="http://www.nuruinternational.org" target="_blank">
                <img src="../img/logos/nuru.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                Nuru is building the world’s first self-sustaining, self-scaling, integrated development model to end extreme poverty.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Jake's work?
              </h2>
              <p class="subhead">
                Join the 2015 class of Social Impact Fellows.
              </p>
              <br>
              <a href="../application.html" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../partials/footer.ejs %>


    </body>
 </html>
