<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Leila Janah - Samasource | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail samasource">
      <%- include ../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="/img/fellows/janah_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Leila Janah</h1>
                <h3>Founder and CEO, Samasource</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Economic empowerment</p>
              </div>
              <p class="highlight fellow-bio">
                Leila Janah founded and leads Samasource, a nonprofit connecting underserved and underemployed people living in developing regions to microwork – computer-based tasks that build skills and generate income, and now part of the broader field of impact sourcing. Samasource moved 3,800 workers and their families over the poverty line in under five years and introduced a domestic program, SamaUSA, in 2013. Samasource received the Templeton Freedom Award, the Secretary’s Innovation Award from Hillary Clinton, and the Prix Netexplorateur from the French Senate. Leila received the inaugural Club de Madrid Young Leadership Award, presented by President Bill Clinton. In 2011, Leila co-founded Samahope, a crowdfunding site for medical treatments in developing countries. She received a BA from Harvard and resides in San Francisco.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 col-centered">
              <a href="http://www.samasource.org" target="_blank">
                <img src="/img/logos/samasource.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                Samasource delivers enterprise digital services through a unique Microwork™ model that harnesses the untapped potential of the world’s poor.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Leila's work?
              </h2>
              <p class="subhead">
                Join the 2015 class of Social Impact Fellows.
              </p>
              <br>
              <a href="/application.html" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>


    </body>
 </html>
