<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Manmeet Kaur - City Health Works | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="../css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail cityhealthworks">
      <%- include ../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="../img/fellows/manmeet_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Manmeet Kaur</h1>
                <h3>Founder and Executive Director, City Health Works</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Healthcare</p>
              </div>
              <p class="highlight fellow-bio">
                Manmeet Kaur has worked in New York to improve the working conditions of “unregulated” workers, in India to stabilize the livelihoods of construction laborers at LabourNet, and in South Africa to help HIV+ individuals create employment with Mamelani Projects. Before launching City Health Works, Manmeet was an advisor to the Earth Institute’s One Million Community Health Worker Campaign. In launching City Health Works, she sought to apply innovations from developing countries to the U.S., providing support for individuals and families struggling with chronic diseases in the East Harlem community. Manmeet holds a B.A. in History/Anthropology from Barnard College, where she was selected as a Third Millennium Human Rights fellow, and an MBA from Columbia University. She lives in Harlem.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              <a href="http://www.cityhealthworks.com" target="_blank">
                <img src="../img/logos/cityhealthworks.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                City Health Works provides support for individuals and families struggling with chronic diseases in the East Harlem community. City Health Works is building a peer-to-peer network of community members who use evidence-based lifestyle improvement techniques to change lives for the better. We see community health workers as the frontline of defense against a national epidemic of diabetes, depression, hypertension, and other chronic conditions.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Manmeet's work?
              </h2>
              <p class="subhead">
                Join the 2015 class of Social Impact Fellows.
              </p>
              <br>
              <a href="../application.html" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../partials/footer.ejs %>

    </body>
 </html>
