<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Oliver Libby - The Resolution Project | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="../css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail resolutionproject">
      <%- include ../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="../img/fellows/oliver_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Oliver Libby</h1>
                <h3>Chair & Co-Founder, The Resolution Project</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Youth Entrepreneurship</p>
              </div>
              <p class="highlight fellow-bio">
                Oliver Libby co-founded The Resolution Project in 2007, in order to create a unique pathway to action for aspiring young social entrepreneurs. Undergraduates often hear that they are leaders of tomorrow – rather than leaders of today. Resolution identifies young leaders through Social Venture Challenges, empowering them through Resolution Fellowships to implement their ventures and to develop as socially responsible leaders. With Fellows on all six inhabited continents, working in fields such as education, healthcare, human rights, water, energy, and sustainability, Resolution is building a generation of leaders with a lifelong commitment to social responsibility. Oliver is also a co-founder and Managing Director of Hatzimemos / Libby, a global growth catalyst firm focused on energy and advanced technologies. He is a Trustee of the Harvard Club of New York Foundation and lives in New York.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              <a href="http://www.resolutionproject.org" target="_blank">
                <img src="../img/logos/resolution-project.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                The Resolution Project develops and empowers young leaders so they can pursue socially responsible solutions to issues affecting communities around the world. The vision of the Resolution Project is to create a generation of leaders with a lifelong commitment to social responsibility.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
            <h2>
              Inspired by Oliver's work?
            </h2>
              <p class="subhead">
                Join the 2015 class of Social Impact Fellows.
              </p>
              <br>
              <a href="../application.html" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../partials/footer.ejs %>


    </body>
 </html>
