<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Rachael Chong - Catchafire | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail catchafire">
      <%- include ../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="/img/fellows/rachael_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Rachel Chong</h1>
                <h3>Founder and CEO, Catchafire</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Skills-based volunteerism</p>
              </div>
              <p class="highlight fellow-bio">
                Rachael Chong is the Founder and CEO of Catchafire, the world’s leading skills-based volunteer platform, which connects professionals with nonprofits on projects that create positive social impact. Rachael has been named one of the World Economic Forum's Young Global Leaders, Fast Company’s 100 Most Creative People in Business, and received the NYC Venture Fellowship and the Tribeca Disruptive Innovation Award. Before Catchafire, Rachael helped start the US affiliate of the BRAC, the largest poverty alleviation organization in the world. To build her business acumen, Rachael worked at UBS Investment Bank after graduating from Barnard College. She has an MPP from Duke University and lives in New York.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8 col-centered">
              <a href="http://www.catchafire.org" target="_blank">
                <img src="/img/logos/catchafire.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                Catchafire is a community of individuals striving to push the social good sector forward by focusing on efficient and effective ways to give back. One way we do this is by matching professionals with nonprofits based on their skills, cause interest, and time availability.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Rachael's work?
              </h2>
              <p class="subhead">
                Join our 2015 class of Social Impact Fellows
              </p>
              <br>
              <a href="/application.html" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../partials/fellow-list.ejs %>
        </div>
      </section>



      <%- include ../partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>


    </body>
 </html>
