<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Fellows | GLG Social Impact</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/jquery.bxslider.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <%- include ../partials/header.ejs %>

      <section>
        <div class="container">
          <div class="jumbotron text-center">
            <h2>Image of Rachaelsssfdssdfsdfsdfsdfdf</h2>
          </div>
          <div class="row">
            <div class="col-sm-7">
              <img src="/img/fellows/rachael_fellow.png" class="img-responsive"/>
              <h2 class="text-center">Rachael Chong</h2>
              <p class="subhead">Founder and CEO, Catchafire</p>
              <h5>Focus Area: Skills-based volunteerism</h5>
              <p class="highlight">
                Rachael Chong is the Founder and CEO of Catchafire, the world’s leading skills-based volunteer platform, which connects professionals with nonprofits on projects that create positive social impact. Rachael has been named one of the World Economic Forum's Young Global Leaders, Fast Company’s 100 Most Creative People in Business, and received the NYC Venture Fellowship and the Tribeca Disruptive Innovation Award. Before Catchafire, Rachael helped start the US affiliate of the BRAC, the largest poverty alleviation organization in the world. To build her business acumen, Rachael worked at UBS Investment Bank after graduating from Barnard College. She has an MPP from Duke University and lives in New York.
              <p>
            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <img src="/img/fellows/rachael_fellow.png" class="img-responsive"/>
              <h2 class="text-center">Catchafire</h2>
              <p class="highlight">
                About Catchafire
              <p>
            </div>
          </div>
        </div>
      </section>

      <%- include ../partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.bxslider.js"></script>
      <script type="text/javascript">
       $(document).ready(function () {          
         $('.bxslider').bxSlider({
           mode: 'vertical',
           slideMargin: 3,
           auto:true,
           speed: 1000,
           pause: 8000
         });            
       });
     </script>


    </body>
 </html>
