<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="/ico/favicon.png">

  <title>Zack Rosenburg - St. Bernard Project | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail stbernard">
      <%- include ../../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="/img/fellows/zack_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Zack Rosenburg</h1>
                <h3>Co-Founder and CEO, St. Bernard Project</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Disaster recovery</p>
              </div>
              <p class="highlight fellow-bio">
                Zack Rosenburg is the CEO and Co-Founder of St. Bernard Project, a long-term disaster recovery organization working to ensure that disaster-impacted citizens and communities recover promptly, efficiently, and predictably. Zack directs the strategic vision, marketing, partnership development, and fundraising for the organization, which he co-founded following Hurricane Katrina. Before founding SBP, he was a criminal defense attorney in Washington, D.C. Prior to his defense work, he founded Linking Communities for Educational Success (LINK), a non-profit organization that provides tutoring, mentoring, and after school education and enrichment services to at-risk junior high school students in Washington, D.C. Zack, a Belmont, Massachusetts native, is an alumnus of Ohio Weslyan University and received his J.D. from American University and an LLM from Georgetown University. He lives in New Orleans.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              <a href="http://www.stbernardproject.org" target="_blank">
                <img src="/img/logos/stbernard.png" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                St. Bernard Project (SBP) is a national long-term disaster recovery organization whose mission is to ensure that communities at risk of, or impacted by, disasters have the resources to prepare and recover in the most prompt, efficient, and predictable way possible. Through Disaster Resilience and Recovery Lab, SBP works to share lessons learned, prevent common barriers to recovery, and help communities utilize SBP’s standardized, repeatable, and proven-effective model.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Zack's work?
              </h2>
              <p class="subhead">
                Join the 2015 class of Social Impact Fellows.
              </p>
              <br>
              <a href="/application/" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../../partials/footer.ejs %>


    </body>
 </html>
