/*
red:f5061d
*/

@font-face {
    font-family: "thinfont";
  	src: url('../fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.woff') format('woff'), /* Modern Browsers */
       url('../fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.svg#e52b991ea1a73b9e8fb2a9f647ce1fe1') format('svg'); /* Legacy iOS */
  	font-style:   normal;
  	font-weight:  400;
}

@font-face {
    font-family: "mediumfont";
    src: url('../fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.eot'); /* IE9 Compat Modes */
  	src: url('../fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.woff') format('woff'), /* Modern Browsers */
       url('../fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.svg#cba4ea1365b44d60601500cecffd3587') format('svg'); /* Legacy iOS */
	font-style:   normal;
	font-weight:  400;
}

@font-face {
    font-family: "glgfont";
	src:url('../fonts/glg-icons/GLG_PD_131126.eot');
	src:url('../fonts/glg-icons/GLG_PD_131126.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glg-icons/GLG_PD_131126.ttf') format('truetype'),
		url('../fonts/glg-icons/GLG_PD_131126.woff') format('woff'),
		url('../fonts/glg-icons/GLG_PD_131126.svg#GLG_PD_131126') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
	background: black;
}

.main {
	background: white;
}

h1 {
	font-family: mediumfont;
	color: #000;
}

h4 {
	line-height: 28px;
}

h2 {
	font-size: 35px !important;
}

li {
	line-height: 25px
}

.application label {
	font-size: 16px;
	color: #777777;
}

.well {
	background: none;
	border:none;
	box-shadow: none;
	margin-bottom: 0;
	padding-top: 0;
}

.label-extra {
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	padding-left: 5px;
}

.panel-body {
line-height: 25px;
}

.email a{
	color: black;
	font-weight: bold;
}

.email a:hover{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}

.link a{
	color: black;
	font-weight: bold;
}

.link a:hover{
	color: black;
	font-weight: bold;
	text-decoration: underline;
}
.quotes ul {
	margin-left: -38px;
}

a:hover, a:focus {
	color: white;
	text-decoration: none;
}

a.btn-primary {
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

a.btn-primary:hover {
	background: #f5061d;
	border-bottom: solid 4px #DF081D;
}

@media (min-width: 768px)
.container {
max-width: 95%;
}

/*.navbar {
	border-radius: 0;
	margin-bottom: 0;
}*/
/*
.navbar-text a {
	color: white;
	margin-left: 25px;
}

.navbar-text {
	margin-right: 15px;
}



*/

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#glg-nav-logo {
	font-family: glgfont;
	font-weight: 400;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	position: absolute;
	top: 12px;
	margin-left:6px;
}


#glg-nav-logo-text {
	font-family: thinfont;
	color: #fff;
	font-size: 24px;
	line-height: 20px;
	position: absolute;
	top: 15px;
	margin-left: 58px;
	text-transform: uppercase;
}

.navbar-nav {
	margin-left: 210px;
}

@media screen and (max-width: 767px) {
	.navbar-nav {
		margin-left: 0px;
	}
}


#glg-intro-text-logo {
	font-family: glgfont;
	font-weight: 400;
	color: #fff;
	font-size: 37px;
	line-height: 37px;
}

#glg-intro-text {
	font-family: thinfont;
	color: #fff;
	font-size: 36px;
	line-height: 36px;
	max-width: 500px;
}

#glg-intro-social-impact {
		font-size: 46px;
		color:#fff;
}

.intro-break {
	display: block;
}

@media screen and (max-width: 850px) {
	#glg-intro-text {
		font-size: 30px;
		line-height: 30px;
		text-shadow: 2px 2px 2px #000; 
		max-width: 330px;
	}

	#glg-intro-text-logo {
		font-size: 24px;
		line-height: 24px;
		text-shadow: 2px 2px 2px #000; 
	}

	#glg-intro-social-impact {
		font-size: 30px;
	}
}

#country-map-footer {
	color: #C2C2C2 !important;
	font-family: thinfont;
	position: absolute;
	bottom:3px;
	right:6px;
	font-size: 15px;
	letter-spacing:1px;
}

.partners-home {
	text-align: center;
}

.partners-home img{
	max-width: 150px;
	margin-top: 25px;
	margin-bottom: 25px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter:gray;
}

.row.fellows {
	text-align: center;
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	.row.fellows {
		margin-bottom: 0px;
	}
}


.fellows h4 {
	font-family: mediumfont;
	line-height: 19px
}

.fellows img {
	width: 150px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	filter:gray;
}

.fellows img:hover {
	width: 150px;
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	-o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}

@media screen and (max-width: 990px) {
	.fellow-block {
		margin-bottom: 55px;
	}

	#country-map-footer {
		font-size: 13px;
	}

}

.fellow-block h5 {
		margin: 0px;
		font-size: 12px;
}

.fellow-block h4 {
		margin: 5px 0px 0px 0px;
}

.meet-the-fellows #fellow{
	width: 200px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.meet-the-fellows h3 {
	margin-top: 0px;
}

.meet-the-fellows h4 {
	color: #777;
}

.meet-the-fellows img {
	margin-bottom: 10px;
}

.learn-more {
	margin-top: 40px;
}

.navbar-inverse .navbar-brand {
	color: white;
}
.navbar-brand {
	font-size: 22px;
}

.deadline {
	color: red;
}

.jumbotron a {
	color:#ef272d;
	text-decoration: none;
	font-weight: normal;
}

.jumbotron a:hover {
	color:#ef272d;
	text-decoration: none;
	font-weight: normal;
}


.jumbotron {
	font-size: 18px;
	margin-bottom: 0;
	background: none;
}
.jumbo-first{
	padding-top: 140px;
	padding-bottom: 140px;
}

@media screen and (max-width: 850px) {
	.jumbo-first{
		padding-bottom: 115px;
	}
}

@media screen and (max-width: 650px) {
	.jumbo-first{
		padding-bottom: 50px;
	}
}


.jumbo-primary .row p{
	text-align: left;
}

.jumbotron.white{
	background: #fff;
}

.jumbotron.black h1{
	color: #fff;
}

.jumbotron.black p{
	color: #fff;
}

.jumbotron.black h4{
	color: #fff;
}

.jumbotron.black{
	background: #000;
}

.jumbotron.grey h1{
	color: #000;
}

.jumbotron.grey p{
	color: #000;
}

.jumbotron.grey h4{
	color: #000;
}

.jumbotron.grey{
	background: #f2f2f2;
	padding-top: 100px;
	padding-bottom: 60px;
}

.bxslider #quote {
	font-family: mediumfont;
	font-size: 29px;
	line-height: 36px;
}

.bxslider #quote-name {
	font-family: mediumfont;
	font-size: 20px;
	line-height: 20px;
	text-transform: uppercase;
	color: #777;
}

.apply-button {
	background-color: #ef272d;
	border: 1px solid #ef272d;
}

.apply-button:hover {
	background-color: #ef272d;
	border: 1px solid #ef272d;
}


.withbg {
	background: url("../img/map1.jpg") no-repeat 105% 0;
	background-color: #000;
	position: relative;
}

@media screen and (max-width: 850px) {
	.withbg {
		background-size:100%;
		background-position: 49px;
	}
}

.withbg p{
	color: #fff;
}

.glg-network img{
	max-width: 100%;
}

.btn-primary {
	color: #0d0d0d;
	background: #fffdff;
	border:none;
	border-radius: 4px;
	border-bottom: solid 4px #d7d7d7;
}

.btn-primary.red {
	color: white;
	background: #E9091E;
	border: none;
	padding: 10px 40px;
}


.btn-primary.red:hover {
	border: none;
	background: #E9091E;
	color: #ffffff;
}



.quotes h3 {
	margin-bottom: 30px;
	text-align: center;
}

.quotes ul {
	background: #f2f2f2;
}

.quotes li {
	padding: 8px;
} 

.quotes li p {
	margin-top: 5px;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}

blockquote {
	border: none;
	line-height: 22px;
	padding-bottom: 0;
	margin: 0 0 10px;
}

.arrow-wrapper img {
}

.arrow-wrapper {
	float: left;
	height: 60px;
	margin-right: 15px;
	margin-top: -8px;
}

.callout {
	padding-top: 20px;
	text-align: center;
}

.how-wrapper {
	margin-top: 20px;
}

.icon-cluster {
	margin-top: 5px;
	margin-bottom: 10px;
}
.icon-cluster p {
	margin-bottom: 15px;
	padding-left: 32px;
}

.icon-points {
	margin-right: 10px;
	float: left;
	height: 40px;
}

.partners {
	text-align: left;
	margin-top: 40px;
}

.partners .row {
	margin-bottom: 20px;
}

.partners img{
	max-width: 200px;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
}

.partners img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	 -o-transition:.3s;
    -ms-transition:.3s;
    -moz-transition:.3s;
    -webkit-transition:.3s;
    /* ...and now for the proper property */
    transition:.3s;
}

.col-md-3:first-of-type{
	text-align: center;
}

footer .container {
	margin-top: 10px;
}

.footer-nav a {
	padding: 8px;
}

footer .pull-right a{
	padding: 0 12px;
}

.logo-bottom {
	font-size: 21px;
}

/*ul ul, ol ul {
list-style-type: none;
}*/

footer {
	height: 50px;
	padding-top: 5px;
	background: black;
	color: #C2C2C2;
}

footer a{
	color: #C2C2C2;
}
footer h4 {
	margin-top: 17px;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: -40px !important;
}


@media screen and (min-width: 1200px) {
  	.adjust {
	margin-top: 25px;
	}
}

@media screen and (max-width: 390px) {
	.btn-primary.red {
		width: 100%;
		padding: 20px 10px;
	}
}

@media screen and (max-width: 650px) {


	h2 {
		font-size: 36px !important;
	}
	
/*	.navbar-fixed-top, .navbar-fixed-bottom {
		position: relative;
		border-width: 0 0 1px;
	}


	.navbar-text p{
		overflow: hidden;
	}
	.navbar-text a{
		width: 25%;
		display: block;
		float: left;
		margin: 0;
		padding: 10px 0;
	}
	.navbar-brand {
		float: none !important;
		margin-top: 5px;
	}

  	.navbar-header {
		text-align: center;
		padding-top: 15px;
	}

	.navbar-header p{
		width: 100%;
		float: none !important;
		overflow: hidden;
		margin: 0;
	}*/
	footer .container span {
		float: none !important;
		text-align: center;
	}
	.footer-nav {
		text-align: center;
		display: block;
		margin-bottom: 10px;

	}

	footer .pull-right a{
		padding-bottom: 10px;
	}

	footer {
		text-align: center;
	}

	.copyright {
		display: block;
		padding: 8px;
		color: #646464;
	}

}

/*.container > .navbar-header, .container > .navbar-collapse {
	float: none;
	display: block;
}*/

.panel-heading {
	font-weight: bold;
}

.partners-contact {
	text-align: right;
}

textarea.form-control {
	height: 250px;
	width: 600px;
}

textarea.small-textarea {
	height: 100px;
}

.required {
	color: red;
}

.navbar-brand {
	width: 77px;
	height: 50px;
	margin-top: -7px;
	background-position: 0 -78px;
	background-image: url(../img/logo.png);
}

.jumbotron.press-bar {
	background-color: #ef272d !important;
	color: white;
	font-family: thinfont;
	position: relative;
}

.jumbotron.press-bar:hover {
	background-color: #D11318 !important;
}

#press-text {
	color: white;
	font-size: 36px;
	line-height: 38px;
	font-family: thinfont;
}
.arrow-link span:after {
	background: transparent url(../img/arrow-link.png) 0 center no-repeat;
	content: '';
	display: inline-block;
	height: 15px;
	margin-left: 11px;
	vertical-align: baseline;
	width: 8px;
}

.blog-iframe {
	height: 1300px;
	margin-bottom: -47px;
	background: #fff;
}

.blog-iframe iframe {
	margin-top: -50px;
	height: 100%;
	background: #fff;
}