<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="/ico/favicon.png">

  <title>Aaron Fishman - East Bali Cashews | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body class="fellow-detail eastbalicashews">
      <%- include ../../partials/header.ejs %>

       <div class="hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
                <img src="/img/fellows/aaron_fellow.png" class="img-responsive center-block fellow-image"/>
                <h1 class="fadeInUpFast">Aaron Fishman</h1>
                <h3>Founder & Director, East Bali Cashews</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

      <section class="fellow-about">
        <div class="container">
          
          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              
              <div class="text-center">
                <p class="focus-area">Focus Area: Social Business</p>
              </div>
              <p class="highlight fellow-bio">
                Aaron Fishman founded East Bali Cashews after his experience volunteering with an NGO in rural northeast Bali in 2011. While Aaron taught the public health staff about wound care and nutrition, they taught him about cashews, and told him that this impoverished region ships their cashews to India and Vietnam for processing. Within a few months he garnered the support of four local investors and launched East Bali Cashews to process the cashews locally. Aaron believes that community development is best achieved and sustained through empowering people, especially women. So far, the company has produced 500 tons of cashews, providing 210 new jobs and employing an 85% female workforce. EBC recently opened the region’s first preschool, a community early learning center for 60 children adjacent to the factory. He lives in Denpasar, Bali.
              <p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10 col-md-8 col-centered">
              <a href="http://www.eastbalicashews.com" target="_blank">
                <img src="/img/logos/eastbalicashews.jpg" class="fellow-logo img-responsive center-block">
              </a>
              <p class="highlight">
                East Bali Cashews is the first large-scale processing facility in Bali and one of the first village-based facilities in Southeast Asia. By buying cashews directly from farmers and processing locally, East Bali Cashews has created over 200 jobs, mostly for women, in rural Indonesia.
              <p>
            </div>
          </div>
          
        </div>
      </section>
      <hr>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>
                Inspired by Aaron's work?
              </h2>
              <p class="subhead">
                Join the 2015 class of Social Impact Fellows.
              </p>
              <br>
              <a href="/application/" class="btn btn-brand btn-lg">Apply Now</a>
            </div>
          </div>
          <%- include ../../partials/fellow-list.ejs %>
        </div>
      </section>

      <%- include ../../partials/footer.ejs %>


    </body>
 </html>
