<br>
<br>
<div class="row">
  <div class="col-sm-12 text-center small-fellows">
    <span class="break">
      <a href="/fellows/rachael-chong-catchafire/">
        <img src="/img/fellows/rachael_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/aaron-fishman-east-bali-cashews/">
        <img src="/img/fellows/aaron_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/christina-halpern-all-star-code/">
        <img src="/img/fellows/christina_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/jake-harriman-nuru/">
        <img src="/img/fellows/jake_fellow.png" class="fellow-thumb"/>
      </a>
    </span>
    <span class="break">
      <a href="/fellows/leila-janah-samasource/">
        <img src="/img/fellows/janah_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/leticia-jauregui-crea/">
        <img src="/img/fellows/leticia_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/manmeet-kaur-city-health-works/">
        <img src="/img/fellows/manmeet_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/oliver-libby-resolution-project/">
        <img src="/img/fellows/oliver_fellow.png" class="fellow-thumb"/>
      </a>
    </span>
    <span class="break">
      <a href="/fellows/ben-powell-agora/">
        <img src="/img/fellows/ben_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/zack-rosenburg-stbernard/">
        <img src="/img/fellows/zack_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/eugenie-teasley-spark-mettle/">
        <img src="/img/fellows/eugenie_fellow.png" class="fellow-thumb"/>
      </a>
      <a href="/fellows/andrew-yang-venture-america/">
        <img src="/img/fellows/andrew_fellow.png" class="fellow-thumb"/>
      </a>
    </span>

  </div>
</div>