<footer>
<div class="container">

<span class="pull-left footer-nav">
  <a href="fellows.html">FELLOWS</a>
  <a href="partners.html">PARTNERS</a>
  <a href="application.html">APPLY</a>
  <a href="usage_policy.html">USAGE POLICY</a>
  <a href="blog.html">BLOG</a>
  <a href="mailto:info@glgimpact.com?Subject=Contact%20Us">CONTACT</a>
</span> 

<span class="pull-right">
  <a href="http://glg.it" target="_blank">GLG Home</a>
  <a href="http://glg.it/terms/" target="_blank">Terms & Privacy</a>
  <span class="copyright">2015 © GLG</span>
</span>

</div>
</footer>