<header>
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="index.html"><img src="img/glg-social-impact.png" class="logo"/></a>
      </div>
      <div class="navbar-collapse collapse">
        
        
        <ul class="nav navbar-nav">
          <li>
            <a href="about.html">About</a>
          </li>
          <li>
            <a href="fellows.html">Fellows</a>
          </li>
          <li>
             <a href="contact.html">Contact</a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <a href="application.html" class="btn btn-login btn-md btn-brand">Apply <span class="hide-sm">for the Fellowship</span></a>
        </ul>

      </div>
    </div>
  </nav>
</header>
