#about{

  .hero{
    background-image: url(/img/banners/about.jpg);
    background-position: center top;
    @include backgroundCover();
  }
  .impact-map{
    position: relative;
    top: -150px;
    margin-bottom: -150px;
    .map-image{
      width: 100%;
      height: auto;
      position: relative;
      z-index: -100;
    }
    .circle{
      position: absolute;
      border-radius: 50%;
      @include opacity(.85);
      // SMALL
      margin-left: -20px;
      width: 40px;
      height: 40px;
      
      // MEDIUM
      // margin-left: -37.5px;
      // width: 75px;
      // height: 75px;

      // LARGE
      // margin-left: -100px;
      // width: 200px;
      // height: 200px;
    }
    .crea{
      background-color: $crea;
      top: 50%;
      left: 20%;
    }
    .city-health-works{
      background-color: $cityhealthworks;
      top: 38%;
      left: 26%;
    }
    .east-bali-cashews{
      background-color: $eastbalicashews;
      top: 64%;
      left: 78%;
    }
    .nuru{
      background-color: $nuru;
      top: 61%;
      left: 56%;
    }
    .resolution{
      background-color: $resolution;
      top: 54%;
      left: 67.5%;
    }
    .spirit-america{
      background-color: $brand-color;
      top: 42%;
      left: 14%;
    }
  }
  .partner-about{
    .row{
      margin-bottom: 40px;
    }
    .partner-logo{
      display: block;
      text-align: center;
      min-height: 100px;
      img{
        max-width: 200px;
        max-height: 75px;
        margin: 0 auto;
      }
    }
  }
  .case-studies{
    padding-left: 0;
    padding-right: 0;
    background: #000;
    .value-description{
      p{
        padding: 20px;
        font-size: 14px;
        line-height: 20px;
        @include breakp($bp-medium){
          color: #fff;
          padding: 15px 20px;
        }
      }
    }
    .value-column{
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .value-title{
      color: $light-color;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 0;
      padding: 40px 0;
      text-align: center;
      background-position: center -60px;
      @include breakp($bp-small-plus){
        padding: 60px 0;
      }
      @include breakp($bp-medium){
        padding: 120px 0;
        background-position: center top;
        @include backgroundCover();
      }
      @include breakp($bp-large){
        padding: 160px 0;
      }
      @include breakp($bp-xlarge){
        padding: 175px 0;
      }
    }
    // Box labeling section
    .value-label{
      background: #000;
      color: $light-color;
      padding: 40px 50px;
      @include breakp($bp-small-plus){
        padding: 60px 20px;
      }
      @include breakp($bp-medium){
        padding: 23% 20px 0;
        background-position: center top;
        @include backgroundCover();
      }
      @include breakp($bp-large){
        padding: 140px 20px 0;
      }
      @include breakp($bp-xlarge){
        padding: 150px 30px 90px;
      }
      .case-studies{
        font-size: 18px;
        font-family: "NHaasGroteskDSW02-Bd", sans-serif;
        line-height: 1.4;
        letter-spacing: 1.2px;
        text-transform: uppercase;
      }
      .examples{
        display: block;
      }
    }
    .value-wrapper{
      cursor: pointer;
      position: relative;
      // relative positioning for slide up on hover
      &:hover{
        @include breakp($bp-medium){
          .value-description{
            display: block;
            opacity: 1;
            background: #000;
            cursor: pointer;
            top: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
      @include breakp($bp-medium){
        .value-description{
          position: absolute;
          display: none;
        }
      }
    }
    .crea{
      background-image: url('/img/case-studies/crea.jpg')
    }
    .city-health-works{
      background-image: url('/img/case-studies/city-health-works.jpg')
    }
    .east-bali-cashews{
      background-image: url('/img/case-studies/east-bali-cashews.jpg')
    }
    .global-village-fruit{
      background-image: url('/img/case-studies/global-village-fruit.jpg')
    }
    .nuru{
      background-image: url('/img/case-studies/nuru.jpg')
    }
    .spirit-america{
      background-image: url('/img/case-studies/service.jpg')
    }
    .bpeace{
      background-image: url('/img/case-studies/bpeace-red.jpg')
    }
  }
}