#fellows{
  .hero{
    background-image: url(../img/banners/fellows.jpg);
    background-position: center top;
    @include backgroundCover();
  }
  .name{
    font-size: 1em;
    padding-top: 20px;
    line-height: 18px;
    a{
      font-family: "NHaasGroteskDSW02-Bd", sans-serif;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
  }
  .title{
    font-size: 0.75em; /* 12/16 */
    line-height: 18px;
    color: #777;
  }
  .the-fellowship{
    .apply-fellowship{
      margin-bottom: 30px;
      @include breakp($bp-medium){
        margin-bottom: 0px;
      }
    }
  }
  .fellow-image{
    width: 80%;
    max-width: 175px;
    margin: 0 auto;
  }
  .what-fellows-receive{
    .subtitle{
      margin-top: 5px;
      margin-bottom: 10px;
    }
    p{
      margin-bottom: 30px;
      @include breakp($bp-medium){
        margin-bottom: 0px;
      }
    }
  }
  .what-we-look-for{
    .icon{
      max-width: 125px;
      margin: 10px auto;
    }
  }
  
  .fellow-cards{
    .fellow-block{
      padding: 20px;
      background-color: #fff;
      border: 1px solid $grey-color;
      margin-bottom: 20px;
      @include  borderRadius(5px);
      min-height: 305px;
      @include breakp($bp-small){
        min-height: 320px;
      }
      @include breakp($bp-small-plus){
        min-height: 320px;
      }
      @include breakp($bp-xlarge){
        min-height: 325px;
      }
    }
    // Adjust bootstrap margins for this section
    .col-md-3{
      padding-left: 8px;
      padding-right: 8px;
    }
    .all-star-code a{
      color: $allstarcode;
    }
    .agora a{
      color: $agora;
    }
    .stbernard a{
      color: $stbernard;
    }
    .catchafire a{
      color: $catchafire;
    }
    .crea a{
      color: $crea;
    }
    .city-health-works a{
      color: $cityhealthworks;
    }
    .east-bali-cashews a{
      color: $eastbalicashews;
    }
    .nuru a{
      color: $nuru;
    }
    .resolution a{
      color: $resolution;
    }
    .samasource a{
      color: $samasource;
    }
    .spark-mettle a{
      color: $sparkmettle;
    }
    .venture-america a{
      color: $ventureamerica;
    }
  }

}

.small-fellows{
  .fellow-thumb{
    max-width: 60px;
    margin: 10px 0;
  }
  .break{
    display: block;
    @include breakp($bp-medium){
      display: inline-block;
    }
  }
}

.fellow-detail{

  .hero{
    min-height: 430px !important;
    @include breakp($bp-medium){
      min-height: 500px !important;
    }
  }
  .focus-area{
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin: 20px auto;
    padding: 20px;
  }

  .fellow-image{
    max-width: 150px;
    margin-bottom: 15px;
    @include breakp($bp-medium){
      max-width: 175px;
    }
  }

  .fellow-about{
    @include breakp($bp-medium){
      position: relative;
      top: -145px;
      margin-bottom: -145px;
    }
    .fellow-logo{
      max-width: 300px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }

  .fellow-bio{
    margin-top: 40px;
  }
}

// PROFILE OVERRIDES


.agora{
  .hero{
    background-color: $agora;
    background-image: url(../img/headers/agora.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $agora;
  }
}

.allstarcode{
  .hero{
    background-color: $allstarcode;
    background-image: url(../img/headers/allstarcode.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $allstarcode;
  }
}

.catchafire{
  .hero{
    background-color: $catchafire;
    background-image: url(../img/headers/catchafire.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $catchafire;
  }
}

.cityhealthworks{
  .hero{
    background-color: $cityhealthworks;
    background-image: url(../img/headers/cityhealthworks.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $cityhealthworks;
  }
}

.crea{
  .hero{
    background-color: $crea;
    background-image: url(../img/headers/crea.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $crea;
  }
}

.eastbalicashews{
  .hero{
    background-color: $eastbalicashews;
    background-image: url(../img/headers/eastbalicashews.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $eastbalicashews;
  }
}

.nuru{
  .hero{
    background-color: $nuru;
    background-image: url(../img/headers/nuru.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $nuru;
  }
}

.resolutionproject{
  .hero{
    background-color: $resolution;
    background-image: url(../img/headers/resolution.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $resolution;
  }
}

.samasource{
  .hero{
    background-color: $samasource;
    background-image: url(../img/headers/samasource.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $samasource;
  }
}

.sparkmettle{
  .hero{
    background-color: $sparkmettle;
    background-image: url(../img/headers/sparkmettle.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $sparkmettle;
  }
}

.stbernard{
  .hero{
    background-color: $stbernard;
    background-image: url(../img/headers/stbernard.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $stbernard;
  }
}

.ventureamerica{
  .hero{
    background-color: $ventureamerica;
    background-image: url(../img/headers/ventureamerica.jpg);
    background-position: center top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .focus-area{
    background-color: $ventureamerica;
  }
}