#index{
  .partner-section{
    .partner-logo{
      max-width: 200px;
      max-height: 200px;
      margin: 20px auto;
      &.bpeace{
        max-height: 50px;
      }
      &.endeavor{
        margin-top: 40px;
      }
    }
    .learn-more{
      margin-top: 15px;
    }
  }
  .home-hero{
    background-image: url(/img/banners/home.jpg);
    background-position: center top;
    @include backgroundCover();
    h1{
      font-size: 34px;
      line-height: 1.6;
    }
    h2{
      color: #fff;
      font-size: 30px;
      line-height: 1.6;
    }
    .overlay{
      // background-color: #000;
      // @include opacity(.3);
    }
    .btn-apply{
      background-color: #fff;
      color: $brand-color !important;
      padding-top: 13px;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 5px;

    }
    .btn-learn{
      background-color: transparent;
      border: 1px solid #fff;
      padding-top: 13px;
      padding-left: 20px;
      padding-right: 20px;
      color: #fff;
    }
    
  }
  .long-dash{
    width: 30px;
    height: 1px;
    border-bottom: 1px solid #999;
    margin: 28px auto 40px;
  }
  .quote-section{
    background-color: $light-color-bg;
    h2{
      color: #444;
    }
  }
  .quote-wrapper{
    height: 100px;
    overflow: hidden;
    .quote-mark{
      font-size: 200px;
      line-height: 205px;
      color: $brand-color;
    }
  }
  .bxslider{
    padding: 0;
    li{
      width: auto !important;
    }
    .quote {
      font-family: $medium-light-font;
      color: #777;
      font-size: 26px;
    }
    .quote-name {
      font-family: $medium-light-font;
      font-size: 16px;
      line-height: 20px;
      color: #777;
      letter-spacing: 1.5px;
    }
  }
  .bx-viewport {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    min-height: 170px;
    background: transparent;
    border: 0px solid transparent;
  }

}