#index{
  //slideshow styles
  .slide-show{
    position: absolute;
    z-index: -1;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
    background-image: url(../img/banners/home-1.jpg);
    @include backgroundCover();
    .slide{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include backgroundCover();
      background-repeat: no-repeat;
      background-position: top center;
    }
  }
  .partner-section{
    .partner-logo{
      max-width: 200px;
      max-height: 200px;
      margin: 20px auto;
      &.square-logo{
        max-height: 70px;
      }
      &.endeavor{
        margin-top: 45px;
      }
      &.spirit-america{
        margin-top: 30px;
      }
    }
    .learn-more{
      margin-top: 15px;
    }
  }
  .home-hero{
    // background-image: url(/img/banners/home.jpg);
    background-position: center top;
    @include backgroundCover();
    h1{
      font-size: 34px;
      line-height: 1.6;
    }
    h2{
      color: #fff;
      font-size: 26px;
      line-height: 1.6;
      @include breakp($bp-small-plus){
        font-size: 30px;
      }
      @include breakp($bp-medium){
        font-size: 30px;
      }
      @include breakp($bp-large){
        font-size: 32px;
      }
      @include breakp($bp-xlarge){
        font-size: 36px;
      }
    }
    .overlay{
      // background-color: #000;
      // @include opacity(.3);
    }
    .btn{
      font-size: 14px;
      @include breakp($bp-small-plus){
        font-size: 18px;
      }
    }
    .btn-apply{
      background-color: #fff;
      color: $brand-color !important;
      padding-top: 13px;
      padding-left: 20px;
      padding-right: 20px;
      margin-right: 5px;
      margin-bottom: 20px;
    }
    .btn-learn{
      background-color: transparent;
      border: 1px solid #fff;
      padding-top: 13px;
      padding-left: 20px;
      padding-right: 20px;
      color: #fff;
      margin-bottom: 20px;
    }
    
  }
  .long-dash{
    width: 30px;
    height: 1px;
    border-bottom: 1px solid #999;
    margin: 28px auto 40px;
  }
  .quote-section{
    h2{
      color: #444;
    }
  }
  .quote-wrapper{
    height: 100px;
    overflow: hidden;
    .quote-mark{
      font-size: 200px;
      line-height: 205px;
      color: $brand-color;
    }
  }
  .bxslider{
    padding: 0;
    li{
      width: auto !important;
    }
    .quote {
      font-family: $medium-light-font;
      color: #777;
      font-size: 26px;
    }
    .quote-name {
      font-family: $medium-light-font;
      font-size: 16px;
      line-height: 20px;
      color: #777;
      letter-spacing: 1.5px;
    }
  }
  .bx-viewport {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    min-height: 170px;
    background: transparent;
    border: 0px solid transparent;
  }

}