body{
  margin-top: 70px;
}

// Bootstrap Row Fix that causes horizontal flow
.row{
    margin-left: 0;
    margin-right: 0;
}
.container{
    .row{
        margin-left: -15px;
        margin-right: -15px;
    }
}

.btn-brand{
  background-color: $brand-color;
  color: #fff !important;
  &:hover{
    color: #fff !important;
  }
}

.hero{
  display: table;
  min-height: 250px;
  width: 100%;
  background-repeat: no-repeat !important;
  overflow: hidden;
  position: relative;
  @include breakp($bp-small-plus){
    min-height: 325px;
  }
  @include breakp($bp-medium){
    min-height: 400px;
  }
  @include breakp($bp-large){
    min-height: 500px;
  }
  h1{
    color: #fff;
    font-family: $heavy-font;
    font-size: 36px;
    letter-spacing: 1px;
    margin-bottom: 0;
    text-transform: uppercase;
    @include breakp($bp-small-plus){
      font-size: 42px;
    }
    @include breakp($bp-medium){
      font-size: 60px;
      line-height: 64px;
    }
  }
  h3{
    color: #fff;
    font-family: $medium-light-font;
  }
  p{
    color: #fff;
    font-family: $medium-font;
    font-size: 16px;
    letter-spacing: 1px;
    @include breakp($bp-small-plus){
      font-size: 20px;
    }
  }
  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #eb4f53;
    @include opacity(.8);
    z-index: 0;
  }

  .text-outer{
    display: table-row;

  }
  .text-inner{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
  }
  &.mini-hero{
    min-height: 300px;
    h1{font-size: 36px;}
  }
}

nav {
  padding: 0 10px;
  li {
    border: 0;
    padding-left: 15px;
    padding-right: 15px;
    > a {
      padding: 15px 0 5px 0 !important;
      display: inline-block !important;
    }
  }
  .logo {
    max-width: 275px;
    padding: 8px;
  }
  .navbar-nav li > a, .btn-login {
    font-size: 14px !important;
    font-family: "NHaasGroteskDSW02-Bd", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    opacity: 0.9;
    filter: alpha(opacity = 90);
  }
  .navbar-nav li > a:hover, .btn-login:hover {
    opacity: 1;
    filter: alpha(opacity = 100);
  }
  .container {
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 4000px;
    width: auto !important;
  }
  .btn-login {
    margin-top: 2px;
    padding: 12px 15px 10px 15px;
    margin-left: 14px;
    outline: none !important;
    .hide-sm{
      @include breakp($bp-medium){
        display: none;
      }
      @include breakp($bp-large){
        display: inline-block;
      }
    }
  }
  &.navbar-default {
    background: #fff;
    color: #000;
    .btn-login {
      color: #000;
      border: 1px solid #e0e0e0;
    }
    .navbar-toggle {
      border-color: rgba(0, 0, 0, 0.2);
      .icon-bar {
        background: rgba(0, 0, 0, 0.4);
      }
      &:hover nav.navbar-default .navbar-toggle:active {
        border-color: rgba(0, 0, 0, 0.4);
        .icon-bar {
          background: rgba(0, 0, 0, 0.6);
        }
      }
    }
    .navbar-brand {
      color: #000;
      &:hover {
        color: #000;
      }
    }
    .navbar-nav li {
      > a {
        color: #000;
        border-bottom: 2px solid #fff;
        &.phone-number {
          display: none;
        }
        &:hover {
          color: #000;
          background: transparent;
          border-bottom: 2px solid #e0e0e0;
          -webkit-transition: border-bottom-color 0.1s linear;
          -moz-transition: border-bottom-color 0.1s linear;
          -o-transition: border-bottom-color 0.1s linear;
          transition: border-bottom-color 0.1s linear;
        }
      }
      &.active > a {
        &:hover {
          color: #000;
          background: transparent;
          border-bottom: 2px solid #e0e0e0;
          -webkit-transition: border-bottom-color 0.1s linear;
          -moz-transition: border-bottom-color 0.1s linear;
          -o-transition: border-bottom-color 0.1s linear;
          transition: border-bottom-color 0.1s linear;
        }
        color: #000;
        background: transparent;
        border-bottom: 2px solid #000 !important;
      }
    }
  }
  &.navbar-inverse {
    background: #000;
    color: #fff;
    border-color: #000;
    .btn-login {
      color: #fff;
      border: 1px solid #383838;
    }
    .navbar-brand {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
    .navbar-nav li {
      > a {
        color: #fff;
        border-bottom: 2px solid #000;
        -webkit-font-smoothing: antialiased !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
        &:hover {
          color: #fff;
        }
      }
      &.active > a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    .dropdown-toggle, &.open a, .dropdown-toggle a:active {
      color: #fff !important;
      background: transparent !important;
    }
    .dropdown-menu {
      margin-top: 6px;
      color: #fff;
      background: #000;
      border: 1px solid #383838;
      border-radius: 4px;
    }
    .navbar-nav li {
      > a {
        color: #fff;
        &.phone-number {
          display: none;
        }
        &:hover {
          color: #fff;
          background: transparent;
          border-bottom: 2px solid #f2f2f2;
        }
      }
      &.active > a {
        color: #fff;
        background: transparent;
        border-bottom: 2px solid #f2f2f2;
        &:hover {
          color: #fff;
          background: transparent;
          border-bottom: 2px solid #f2f2f2;
        }
      }
    }
  }
}

footer {
  padding: 70px 0 20px;
  background: #000;
  color: #fff;
  font-size: .9em;
  letter-spacing: 1px;
  a{
    color: #fff;
    margin-right: 10px;
  }
  .terms{
    color: #444;
  }
  .titles {
    font-size: 14px;
    font-family: "NHaasGroteskDSW02-Bd", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .logo {
    color: #fff;
    font-size: 75px;
    line-height: 1.3em;
    i {
      line-height: 1.3em;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .social-icons i{
    margin-top: 20px;
    margin-right: 0px;
    color: #fff;
  }
}

.center-block {
  margin: 0 auto;
}

.col-centered {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

section {
  padding: 90px 0;
}

.section-light{
  background-color: $light-color-bg;
  border-bottom: 1px solid $grey-color;
  border-top: 1px solid $grey-color;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}