@font-face {
  font-family: 'NHaasGroteskDSW02-15UltTh';
  src: url("/fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.eot");  /* IE9 Compat Modes */
  src: url("/fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.eot?#iefix") format("embedded-opentype"), url("/fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.woff") format("woff"), url("/fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.ttf") format("truetype"), url("/fonts/NHaasGroteskDSW02-15UltTh/NHaasGroteskDSW02-15UltTh.svg#e52b991ea1a73b9e8fb2a9f647ce1fe1") format("svg");  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NHaasGroteskDSStd-25Th';
  src: url("/fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.eot");  /* IE9 Compat Modes */
  src: url("/fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.eot?#iefix") format("embedded-opentype"), url("/fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.woff") format("woff"), url("/fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.ttf") format("truetype"), url("/fonts/NHaasGroteskDSStd-25Th/NHaasGroteskDSStd-25Th.svg#a6edbb850aba76ea59dba404ea3681c2") format("svg");  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NHaasGroteskDSW02-35XLt';
  src: url("/fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.eot");  /* IE9 Compat Modes */
  src: url("/fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.eot?#iefix") format("embedded-opentype"), url("/fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.woff") format("woff"), url("/fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.ttf") format("truetype"), url("/fonts/NHaasGroteskDSW02-35XLt/NHaasGroteskDSW02-35XLt.svg#b14b9ec1c91f55e07ace8146b8931ecd") format("svg");  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NHaasGroteskDSW02-45Lt';
  src: url("/fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.eot");  /* IE9 Compat Modes */
  src: url("/fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.eot?#iefix") format("embedded-opentype"), url("/fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.woff") format("woff"), url("/fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.ttf") format("truetype"), url("/fonts/NHaasGroteskDSW02-45Lt/NHaasGroteskDSW02-45Lt.svg#b14b9ec1c91f55e07ace8146b8931ecd") format("svg");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NHaasGroteskDSW02-Bd';
  src: url("/fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.eot");  /* IE9 Compat Modes */
  src: url("/fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.eot?#iefix") format("embedded-opentype"), url("/fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.woff") format("woff"), url("/fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.ttf") format("truetype"), url("/fonts/NHaasGroteskDSW02-Bd/NHaasGroteskDSW02-Bd.svg#d0af5dc50d550ce255c6bb258c2a14ae") format("svg");  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'GLG_PD_131126';
  src:url('/fonts/glg-icons/GLG_PD_131126.eot');
  src:url('/fonts/glg-icons/GLG_PD_131126.eot?#iefix') format('embedded-opentype'),
    url('/fonts/glg-icons/GLG_PD_131126.ttf') format('truetype'),
    url('/fonts/glg-icons/GLG_PD_131126.woff') format('woff'),
    url('/fonts/glg-icons/GLG_PD_131126.svg#GLG_PD_131126') format('svg');
  font-weight: normal;
  font-style: normal;
}

$light-font: 'NHaasGroteskDSW02-15UltTh', sans-serif;
$medium-light-font: 'NHaasGroteskDSW02-35XLt', sans-serif;
$medium-font: 'NHaasGroteskDSW02-45Lt', sans-serif;
$heavy-font: 'NHaasGroteskDSW02-Bd', sans-serif;

body {
  font-size: 16px;
  font-family: "NHaasGroteskDSW02-45Lt", sans-serif;
}

strong, b {
  font-family: "NHaasGroteskDSW02-45Lt", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "NHaasGroteskDSW02-45Lt", sans-serif;
  letter-spacing: .02em;
  line-height: 1.35;
  padding: 0;
  margin-top: 0;
}

h1 {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: .6em;
}

h2 {
  color: #444444;
  font-family: "NHaasGroteskDSW02-45Lt", sans-serif;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 26px;
  line-height: 38px;
  margin-bottom: .3em;
}

h4 {
  font-weight: bold;
  color: #333;
  font-size: 22px;
  letter-spacing: .01em;
  margin-bottom: .2em;
}

h5 {
  font-size: 18px;
}

.glg-icon {
  /*font-family: 'GLG-icons';*/
  font-family: 'GLG_PD_131126';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  display: inline-block;
  line-height: 1;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.logo {
    vertical-align: baseline;
    position: relative;
    bottom:4px;
  }
}

p {
  &.subhead {
    color: #5b5b5b;
    font-family: "NHaasGroteskDSW02-35XLt", sans-serif;
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 1px;
  }
  &.highlight {
    color: #5b5b5b;
    font-family: "NHaasGroteskDSW02-45Lt", sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
  }
}