<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLG Impact</title>

    <!-- Bootstrap core CSS -->
   <style>
	label {
		font-weight: bold;
	}
   </style>
  </head>

  <body>

    <div class="main">
		<div class="jumbotron jumbo-primary jumbo-first">
	    	<div class="container">
				<h2 class="sub-page-title">GLG Impact Fellows</h2>
				<h2>Submitted Membership Application</h2>
			</div>
		</div>
		<div class="jumbotron dark">
	    	<div class="container">
	    		<div class="row">
	    			<u><h2>User Information</h2></u>
	    			<div class="form-group">
						<h4><label for="name">Name: </label></h4>
						{{name}}<br>
					</div>
					<div class="form-group">
						<h4><label for="title">Title: </label></h4>
						{{title}}<br>
					</div>
					<div class="form-group">
						<h4><label for="contact_email">Contact Email Address: </label></h4>
						{{contact_email}}<br>
					</div>
					<div class="form-group">
						<h4><label for="contact_phone">Contact Phone: </label></h4>
						{{contact_phone}}<br>
					</div>
	    			<br clear="all" />
	    			<u><h2>Organization</h2></u>
	    			<div class="form-group">
						<h4><label for="organization_name">Organization Name: </label></h4>
						{{organization_name}}<br>
					</div>
					<div class="form-group">
						<h4><label for="organization_address">Organization Address: </label></h4>
						<br/>
						<p>{{organization_address}}</p><br>
					</div>
					<div class="form-group">
						<h4><label for="organization_website">Organization Website: </label></h4>
						{{organization_website}}<br>
					</div>
					<div class="form-group">
						<h4><label for="number_of_employees">Number of Employees: </label></h4>
						{{number_of_employees}}<br>
					</div>
					<div class="form-group">
						<h4><label for="years_in_operation">Number of Years In Operation: </label></h4>
						{{years_in_operation}}<br>
					</div>
					<div class="form-group">
						<h4><label for="annual_operating_budget">Annual Operating Budget: </label></h4>
						{{annual_operating_budget_selected}}<br>
					</div>
					<div class="form-group">
						<h4><label for="geographic_reach">Geographic reach: </label></h4>
						{{geographic_reach_selected}}<br>
						
					</div>
					<br clear="all" />
					<u><h2>The Accelerator</h2></u>
					
					<h4><label for="org_innovating">How is your organization innovating? </label></h4>
					<br/>
					<p>{{org_innovating}}</p><br>
					
					<h4><label for="org_future_goals">What are your organization's future goals for the next three to five years? </label></h4>
					<br/>
					<p>{{org_future_goals}}</p><br>
					
					<h4><label for="org_priorities">What are your priorities for the next year? </label></h4>
					<br/>
					<p>{{org_priorities}}</p><br>
					<h4><label for="org_benefit">How will your organization benefit from GLG accessing the GLG network? </label></h4>
					<br/>
					<p>{{org_benefit}}</p><br>

					<br clear="all" />
					<u><h2>The Fellowship</h2></u>
					
					<h4><label for="personal_goals">What are your personal goals for participating in GLG Impact?</label></h4>
					<br/>
					<p>{{personal_goals}}</p><br>
					
					<h4><label for="personal_connections">What types of high-level connections and expertise will help you personally reach your goals?</label></h4>
					<br/>
					<p>{{personal_connections}}</p><br>
				
					<br clear="all" />
					<u><h2>Other</h2></u>
					
					<h4><label for="other">How did you hear about GLG Impact?</label></h4>
					<br/>
					<p>{{other}}</p><br>
					
					<br clear="all" />
	    	</div>
	    	</div>
	    </div>
    </div>
    
</body>
</html>