<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLG Impact</title>

    <!-- Bootstrap core CSS -->
    <link href="http://glgimpact.com/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://glgimpact.com/css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://glgimpact.com/css/jquery.bxslider.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="http://glgimpact.com">GLG SOCIAL IMPACT</a>
            <p class="navbar-text pull-right">
              <a href="http://glgimpact.com">FELLOWS</a>
              <a href="http://glgimpact.com">PARTNERS</a>
            </p>
          </div>
        </div>
      </nav>
    <div class="main">
		<div class="jumbotron jumbo-primary jumbo-first">
	    	<div class="container">
				<h2 class="sub-page-title">GLG Impact Fellows</h2>
				<h2>Submitted Membership Application</h2>
			</div>
		</div>
		<div class="jumbotron dark">
	    	<div class="container">
	    		<div class="row">
	    			<u><h2>User Information</h2></u>
	    			<div class="form-group">
						<label for="name">Name: </label>
						{{name}}<br>
					</div>
					<div class="form-group">
						<label for="title">Title: </label>
						{{title}}<br>
					</div>
					<div class="form-group">
						<label for="contact_email">Contact Email Address: </label>
						{{contact_email}}<br>
					</div>
					<div class="form-group">
						<label for="contact_phone">Contact Phone: </label>
						{{contact_phone}}<br>
					</div>
	    			<br clear="all" />
	    			<u><h2>Organization</h2></u>
	    			<div class="form-group">
						<label for="organization_name">Organization Name: </label>
						{{organization_name}}<br>
					</div>
					<div class="form-group">
						<label for="organization_address">Organization Address: </label>
						<br/>
						<p>{{organization_address}}</p><br>
					</div>
					<div class="form-group">
						<label for="organization_website">Organization Website: </label>
						{{organization_website}}<br>
					</div>
					<div class="form-group">
						<label for="number_of_employees">Number of Employees: </label>
						{{number_of_employees}}<br>
					</div>
					<div class="form-group">
						<label for="years_in_operation">Number of Years In Operation: </label>
						{{years_in_operation}}<br>
					</div>
					<div class="form-group">
						<label for="annual_operating_budget">Annual Operating Budget: </label>
						{{annual_operating_budget_selected}}<br>
					</div>
					<div class="form-group">
						<label for="geographic_reach">Geographic reach: </label>
						{{geographic_reach_selected}}<br>
						
					</div>
					<br clear="all" />
					<u><h2>The Accelerator</h2></u>
					
					<label for="org_innovating">How is your organization innovating? (100 words max)</label>
					<br/>
					<p>{{org_innovating}}</p><br>
					
					<label for="org_future_goals">What are your organization's future goals for the next three to five years? (200 words max)</label>
					<br/>
					<p>{{org_future_goals}}</p><br>
					
					<label for="org_priorities">What are your priorities for the next year? (100 words max)</label>
					<br/>
					<p>{{org_priorities}}</p><br>
					<label for="org_benefit">How will your organization benefit from GLG accessing the GLG network? (150 words max)</label>
					<br/>
					<p>{{org_benefit}}</p><br>

					<br clear="all" />
					<u><h2>The Fellowship</h2></u>
					
					<label for="personal_goals">What are your personal goals for participating in GLG Impact? (200 words max)</label>
					<br/>
					<p>{{personal_goals}}</p><br>
					
					<label for="personal_connections">What types of high-level connections and expertise will help you personally reach your goals? (100 words max)</label>
					<br/>
					<p>{{personal_connections}}</p><br>
				
					<br clear="all" />
					<u><h2>Other</h2></u>
					
					<label for="other">How did you hear about GLG Impact?</label>
					<br/>
					<p>{{other}}</p><br>
					
					<br clear="all" />
	    	</div>
	    	</div>
	    </div>
    </div>
    <footer>
    	<div class="container">
        <span class="logo-bottom"><a href="http://glgimpact.com">GLG SOCIAL IMPACT</a></span>
        <p class="pull-right">
              <a href="http://glgimpact.com">FELLOWS</a>
              <a href="http://glgimpact.com">PARTNERS</a>
            </p>
    	</div>
        
    </footer>
</body>
</html>