<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Fellows | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body id="about">
      <%- include partials/header.ejs %>
      <section class="hero mini-hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-8 col-centered text-center">
                <h1 class="fadeInUpFast">About Us</h1>
                <!-- <h3>Learn about Social Impact</h3> -->
              </div>
            </div>
          </div>
          <div class="overlay"></div>
        </div>
      </section>

      <section class="about-social-impact section-light">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">

              <h2>About GLG Social Impact</h2>
              <p class="subhead">
                 GLG Social Impact advances learning and decision-making among the social sector’s top innovators. We work across the social sector – from supporting grantmaking and mission-driven investing through industry analysis and market landscaping to helping nonprofits with technical, regulatory, and strategic challenges.
              </p>
              <p class="subhead">
                 The GLG Social Impact Fellowship is our flagship program, providing learning resources to a select group of nonprofits and social enterprise on a pro bono basis.
              </p>
              <br>
              <p class="button-wrapper">
                <a href="fellows.html" target="_blank" class="btn btn-lg btn-brand learn-more">Learn about the Fellowship »</a>
                <a href="about.html" target="_blank" class="btn btn-lg btn-brand learn-more">Learn about our partners »</a>
              </p>
              
            </div>
            <div class="col-sm-5 col-sm-offset-1">
              <div class="row">
                <div class="col-xs-6">
                  <img src="img/fellow-share-health.jpg" class="img-responsive">
                </div>
                <div class="col-xs-6">
                  <img src="img/fellow-build.jpg" class="img-responsive">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <img src="img/fellow-all-star.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="container-fluid case-studies">
        <div class="row">
          <div class="col-sm-6 col-md-8 col-lg-3 value-column">
            <p class="highlight value-title value-label text-center">
              <span class="case-studies">Case Studies</span>
            </p>
          </div>
          
          <div class="visible-xs">
            <div class="value-wrapper" data-toggle="collapse" href="#collapseCrea" aria-expanded="false" aria-controls="collapseCrea">
              <p class="highlight value-title crea">
                CREA
              </p>
              <div class="value-description collapse fade" id="collapseCrea">
                <p class="highlight">
                  CREA wanted to develop an online platform to both deliver its training virtually and to incorporate digital tools into the content. GLG members provided insight into the cost of different delivery models and providers, e-learning course development, and general understanding of the e-learning space. CREA secured a significant grant from Google to roll out its e-learning course as part of a digital skills training that will reach over 10,000 women entrepreneurs across Mexico.
                </p>
              </div>
            </div>
          </div>
          
          <div class="visible-xs">
            <div class="value-wrapper" data-toggle="collapse" href="#collapseCityHealthWorks" aria-expanded="false" aria-controls="collapseCityHealthWorks">
              <p class="highlight value-title city-health-works">
                City Health Works
              </p>
              <div class="value-description collapse fade" id="collapseCityHealthWorks">
                <p class="highlight">
                  City Health Works needed to understand how to incorporate its in-home health services into the broader NYC healthcare system through government programs like Medicaid and Medicare. GLG helped City Health Works learn about inclusions that will enable them to bill to these programs by speaking with a non-profit health insurance executive and the Director of Medical Economics at a large managed care organization. City Health Works is now better positioned to engage with New York State regulations and reach more patients after coming regulatory changes to Medicaid.
                </p>
              </div>
            </div>
          </div>
          
          <div class="visible-xs">
            <div class="value-wrapper" data-toggle="collapse" href="#collapseEastBaliCashews" aria-expanded="false" aria-controls="collapseEastBaliCashews">
              <p class="highlight value-title east-bali-cashews">
                East Bali Cashews
              </p>
              <div class="value-description collapse fade" id="collapseEastBaliCashews">
                <p class="highlight">
                  East Bali Cashews needed to navigate Amazon.com’s sales systems in order to bring its executive cashews to the U.S. market. East Bali Cashews’ CEO spoke to a former Amazon executive who helped guide him through the process and made critical introductions at Amazon to fast track the launch of East Bali Cashews’ e-commerce store. A shipment of cashews is en route to the Amazon distribution center; in June 2015, East Bali Cashews will be available for purchase on the site.
                </p>
              </div>
            </div>
          </div>
          
          <div class="visible-xs">
            <div class="value-wrapper" data-toggle="collapse" href="#collapseNuru" aria-expanded="false" aria-controls="collapseNuru">
              <p class="highlight value-title nuru">
                Nuru International
              </p>
              <div class="value-description collapse fade" id="collapseNuru">
                <p class="highlight">
                  Nuru International’s expansion to Ethiopia included partnerships with local agricultural cooperatives to commercialize produce. GLG recruited a former USAID professional who worked extensively in Ethiopian agricultural cooperatives. The expert connected Nuru’s team to professionals on the ground and helped demystify complex taxation issues related to Nuru’s project.
                </p>
              </div>
            </div>
          </div>
          
          <div class="visible-xs">
            <div class="value-wrapper" data-toggle="collapse" href="#collapseGlobalVillage" aria-expanded="false" aria-controls="collapseGlobalVillage">
              <p class="highlight value-title global-village-fruit">
                Global Village Fruit
              </p>
              <div class="value-description collapse fade" id="collapseGlobalVillage">
                <p class="highlight">
                  Annie Ryu is a social entrepreneur and a Resolution Fellow. Her social venture, Global Village Fruit, brings jackfruit products from India to the global marketplace. Jackfruit is a meat substitute and the largest known tree-borne fruit. Annie came to GLG through our relationship with The Resolution Project, seeking expertise in packaging and product design and learned critical insight from the former VP of Marketing for Beyond Meat. Through this engagement, Annie learned how to position and sell her products in the U.S.; Global Village Fruit will hit the shelves of Whole Foods this summer.
                </p>
              </div>
            </div>
          </div>
          
          <div class="visible-xs">
            <div class="value-wrapper" data-toggle="collapse" href="#collapseSpiritAmerica" aria-expanded="false" aria-controls="collapseSpiritAmerica">
              <p class="highlight value-title spirit-america">
                Spirit of America
              </p>
              <div class="value-description collapse fade" id="collapseSpiritAmerica">
                <p class="highlight">
                  Spirit of America provides targeted assistance to U.S. troops and diplomats serving on humanitarian missions abroad. In Kurdistan, Spirit of America wanted to provide logistical support to Peshmerga forces by procuring and shipping equipment through local providers. Spirit of America consulted a GLG member who was a Lieutenant General with recent experience in Kurdistan to learn that there were no local producers, but local hubs could facilitate the logistics of importing equipment.
                </p>
              </div>
            </div>
          </div>
          
          <div class="visible-xs">
            <div class="value-wrapper" data-toggle="collapse" href="#collapseBPeace" aria-expanded="false" aria-controls="collapseBPeace">
              <p class="highlight value-title bpeace">
                BPeace
              </p>
              <div class="value-description collapse fade" id="collapseBPeace">
                <p class="highlight">
                  Bpeace turned to GLG to find the right business executive to help Los Trillizos bakery in El Salvador improve its operations and products. A GLG member with over 10 years of experience in the bakery industry traveled to El Salvador to evaluate the operation and recommend improvements. During his week on the ground, the expert fine-tuned mixing processes to achieve larger output and trained staff and chefs on the processes and on the Good Manufacturing Practices methodology.
                </p>
              </div>
            </div>
          </div>
          
          
          <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs value-column">
            <div class="value-wrapper">
              <p class="highlight value-title crea">
                CREA
              </p>
              <div class="value-description fade">
                <p class="highlight">
                  CREA wanted to develop an online platform to both deliver its training virtually and to incorporate digital tools into the content. GLG members provided insight into the cost of different delivery models and providers, e-learning course development, and general understanding of the e-learning space. CREA secured a significant grant from Google to roll out its e-learning course as part of a digital skills training that will reach over 10,000 women entrepreneurs across Mexico.
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs value-column">
            <div class="value-wrapper">
              <p class="highlight value-title city-health-works">
                <span class="box">City Health Works</span>
              </p>
              <div class="value-description fade">
                <p class="highlight">
                  City Health Works needed to understand how to incorporate its in-home health services into the broader NYC healthcare system through government programs like Medicaid and Medicare. GLG helped City Health Works learn about inclusions that will enable them to bill to these programs by speaking with a non-profit health insurance executive and the Director of Medical Economics at a large managed care organization. City Health Works is now better positioned to engage with New York State regulations and reach more patients after coming regulatory changes to Medicaid.
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs value-column">
            <div class="value-wrapper">
              <p class="highlight value-title east-bali-cashews">
                East Bali Cashews
              </p>
              <div class="value-description fade">
                <p class="highlight">
                  East Bali Cashews needed to navigate Amazon.com’s sales systems in order to bring its executive cashews to the U.S. market. East Bali Cashews’ CEO spoke to a former Amazon executive who helped guide him through the process and made critical introductions at Amazon to fast track the launch of East Bali Cashews’ e-commerce store. A shipment of cashews is en route to the Amazon distribution center; in June 2015, East Bali Cashews will be available for purchase on the site.
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs value-column">
            <div class="value-wrapper">
              <p class="highlight value-title nuru">
                Nuru International
              </p>
              <div class="value-description fade">
                <p class="highlight">
                  Nuru International’s expansion to Ethiopia included partnerships with local agricultural cooperatives to commercialize produce. GLG recruited a former USAID professional who worked extensively in Ethiopian agricultural cooperatives. The expert connected Nuru’s team to professionals on the ground and helped demystify complex taxation issues related to Nuru’s project.
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs value-column">
            <div class="value-wrapper">
              <p class="highlight value-title global-village-fruit">
                Global Village Fruit
              </p>
              <div class="value-description fade">
                <p class="highlight">
                  Annie Ryu is a social entrepreneur and a Resolution Fellow. Her social venture, Global Village Fruit, brings jackfruit products from India to the global marketplace. Jackfruit is a meat substitute and the largest known tree-borne fruit. Annie came to GLG through our relationship with The Resolution Project, seeking expertise in packaging and product design and learned critical insight from the former VP of Marketing for Beyond Meat. Through this engagement, Annie learned how to position and sell her products in the U.S.; Global Village Fruit will hit the shelves of Whole Foods this summer.
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs value-column">
            <div class="value-wrapper">
              <p class="highlight value-title spirit-america">
                Spirit of America
              </p>
              <div class="value-description fade">
                <p class="highlight">
                  Spirit of America provides targeted assistance to U.S. troops and diplomats serving on humanitarian missions abroad. In Kurdistan, Spirit of America wanted to provide logistical support to Peshmerga forces by procuring and shipping equipment through local providers. Spirit of America consulted a GLG member who was a Lieutenant General with recent experience in Kurdistan to learn that there were no local producers, but local hubs could facilitate the logistics of importing equipment.
                </p>
              </div>
            </div>
          </div>
          
          <div class="col-sm-6 col-md-4 col-lg-3 hidden-xs value-column">
            <div class="value-wrapper">
              <p class="highlight value-title bpeace">
                BPeace
              </p>
              <div class="value-description fade">
                <p class="highlight">
                  Bpeace turned to GLG to find the right business executive to help Los Trillizos bakery in El Salvador improve its operations and products. A GLG member with over 10 years of experience in the bakery industry traveled to El Salvador to evaluate the operation and recommend improvements. During his week on the ground, the expert fine-tuned mixing processes to achieve larger output and trained staff and chefs on the processes and on the Good Manufacturing Practices methodology.
                </p>
              </div>
            </div>
          </div>
          
        </div>
      </div>

      <section>
        <div class="container"> 

          <div class="row">
            <div class="col-sm-8 col-centered">
              <h2 class="text-center">Partners</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-lg-7 col-centered">
              <p class="subhead">Since GLG’s founding in 1998, we have partnered with leading social sector organizations around the world. Below are some of the organizations which have leveraged GLG's membership to enhance and accelerate impact. <a href="contact.html">Contact us</a> to become a partner.</p>
              <br>
              <br>
              <br>
              <br>
            </div>
          </div>
          <div class="partner-about">
            <div class="row">
              <div class="col-sm-4">
                <a href="http://www.bridgespan.org" target="_blank" class="partner-logo">
                  <img src="img/partners/bridgespan-group.png" alt="The Bridgespan Group" class="img-responsive">
                </a>
                <p class="highlight">The Bridgespan Group is a nonprofit advisor and resource for mission-driven organizations and philanthropists.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://fund.pfnyc.org" target="_blank" class="partner-logo">
                  <img src="img/partners/partnership-fund.png" alt="Partnership Fund for New York City" class="img-responsive">
                </a>
                <p class="highlight">The Partnership Fund for New York City identifies and supports New York City’s most promising entrepreneurs in both the for-profit and not-for-profit sectors.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.juilliard.edu" target="_blank" class="partner-logo">
                  <img src="img/partners/juilliard.png" alt="Julliard" class="img-responsive">
                </a>
                <p class="highlight">The Juilliard School is a performing arts conservatory which trains undergraduate and graduate students in dance, drama, and music.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <a href="http://www.endeavor.org/" target="_blank" class="partner-logo endeavor">
                  <img src="img/partners/endeavor.png" alt="Endeavor" class="img-responsive">
                </a>
                <p class="highlight">Endeavor Global is a nonprofit that seeks to transform emerging economies by supporting high-impact entrepreneurs. See a <a href="http://www.endeavor.org/blog/endeavor-partners-with-glg-research-to-add-value-for-scale-up-entrepreneurs/" target="_blank">blog</a> post about our partnership.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.echoinggreen.org" target="_blank" class="partner-logo">
                  <img src="img/partners/echoing-green.png" alt="Echoing Green" class="img-responsive">
                </a>
                <p class="highlight">Echoing Green is a nonprofit that provides seed funding and technical assistance to emerging social entrepreneurs with ideas for social change.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.achievementfirst.org/" target="_blank" class="partner-logo">
                  <img src="img/partners/achievement-first.png" alt="Achievement First" class="img-responsive">
                </a>
                <p class="highlight">Achievement First is a high-performing network of 25 non-profit, college-preparatory, K-12 public charter schools in Connecticut, New York, and Rhode Island.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <a href="http://www.spiritofamerica.net" target="_blank" class="partner-logo spirit-america">
                  <img src="img/partners/spirit-of-america.png" alt="Spirit of America" class="img-responsive">
                </a>
                <p class="highlight">Spirit of America is a nonprofit dedicated to helping Americans serving abroad assist local people in need by providing materials and expertise on the ground. See a <a href="http://glgsocialimpact.com/resources/GLG-SpiritOfAmerica-faq-0713.pdf">case study</a> and <a href="https://medium.com/p/3b09ab81d4d9">op-ed</a> about our partnership.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.resolutionproject.org" target="_blank" class="partner-logo">
                  <img src="img/partners/resolution-project.png" alt="Resolution" class="img-responsive">
                </a>
                <p class="highlight">The Resolution Project is dedicated to fostering youth leadership development around the world through collaborative social entrepreneurship.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.liftcommunities.org" target="_blank" class="partner-logo">
                  <img src="img/partners/lift.png" alt="LIFT" class="img-responsive">
                </a>
                <p class="highlight">LIFT’s mission is to help community members achieve economic stability and well-being. LIFT is working to establish a new standard for holistic and enduring solutions in our country’s fight against poverty.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <a href="http://www.youthinc-usa.org/" target="_blank" class="partner-logo">
                  <img src="img/partners/youth-inc.png" alt="Youth Inc" class="img-responsive">
                </a>
                <p class="highlight">Youth INC is a venture philanthropy organization that invests in nonprofits serving children in the New York City area.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.onegoalgraduation.org" target="_blank" class="partner-logo">
                  <img src="img/partners/one-goal.png" alt="OneGoal" class="img-responsive">
                </a>
                <p class="highlight">OneGoal identifies, trains, and supports our nation's most effective teachers as they lead underperforming high school students to reach their full potential and graduate from college.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.khoslaimpact.com" target="_blank" class="partner-logo">
                  <img src="img/partners/khosla-impact.png" alt="Koshla Impact" class="img-responsive">
                </a>
                <p class="highlight">Khosla Impact is a venture fund that invests in market-based solutions and assists entrepreneurs developing products and services for people at the bottom of the world’s economic pyramid. </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <a href="http://www.bpeace.org" target="_blank" class="partner-logo">
                  <img src="img/partners/bpeace.png" alt="BPeace" class="img-responsive">
                </a>
                <p class="highlight">Bpeace is a non-profit network of business professionals who volunteer skills to entrepreneurs in conflict-affected countries to help them create significant employment for all.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.wadhwani-foundation.org" target="_blank" class="partner-logo">
                  <img src="img/partners/wadhwani.png" alt="Wadhwani" class="img-responsive">
                </a>
                <p class="highlight">The Wadhwani Foundation is a private grant-making foundation committed to improving standards of living in emerging economies through accelerating economic development.</p>
              </div>
              <div class="col-sm-4">
                <a href="http://www.roomtoread.org" target="_blank" class="partner-logo">
                  <img src="img/partners/room-to-read.jpg" alt="Room to Read" class="img-responsive">
                </a>
                <p class="highlight">Room to Read seeks to transform the lives of millions of children in Asia and Africa through education. They develop literacy skills and a habit of reading among primary school children and ensure girls have the skills and support needed to complete their secondary education.</p>
              </div>
            </div>


          </div>

        </div>
      </section>

      <%- include partials/footer.ejs %>

    </body>
 </html>
