<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Fellows | GLG Social Impact</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/jquery.bxslider.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <%- include partials/header.ejs %>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered">

              <h2 class="text-center">Make an Impact</h2>
              <p class="text-center subhead">
                The 2014 Social Impact Fellows and their organizations tackled a range of social challenges around the world. Here's where they're making a difference:
              </p>
              <br/>
              <br/>
            </div>
          </div>
          <div class="jumbotron text-center">
            <h2>MAP OF WORLD, Link to Case Studies</h2>
          </div>
        </div>
      </section>
      <hr>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">

              <h2>What is GLG Social Impact</h2>
              <p class="subhead">
                GLG helps top social sector leaders and organizations around the world accelerate their impact and scale by providing pro-bono and discounted memberships to GLG’s learning community. GLG Social Impact clients include leading nonprofits, social enterprises, foundations, and impact investing funds. GLG Social Impact advances learning and decision-making among the social sector’s top innovators – from supporting grantmaking and mission-driven investing through industry analysis and market landscaping to helping nonprofits with technical, regulatory, and strategic challenges.
              </p>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
      </section>
      <hr>

      <section>
        <div class="container"> 
         <!--Testimonials Start-->
         <div class="row">
           <div class="col-md-6">
              <h1>Partners</h1>
              <p>In addition to the GLG Social Impact Fellows program, GLG supports the work of leading nonprofits, foundations, social enterprises and impact funds. 
                <br/>
                <br/>
                <p>Learn more about all of our <a href="partners.html">partnerships</a>.</p>
              </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <img src="img/julliard1.png"/>
                </div>
                <div class="col-md-6">
                  <img src="img/endeavor1.png"/>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <img src="img/spirit_of_america1.png"/>
                </div>

                <div class="col-md-6">
                  <img src="img/youth_inc1.png"/>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <img src="img/one_goal1.png"/>
                </div>

                <div class="col-md-6">
                  <img src="img/bpeace1.png"/>
                </div>
              </div>
            </div>

          </div>
        </div>
      </section>

      <%- include partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.bxslider.js"></script>
      <script type="text/javascript">
       $(document).ready(function () {          
         $('.bxslider').bxSlider({
           mode: 'vertical',
           slideMargin: 3,
           auto:true,
           speed: 1000,
           pause: 8000
         });            
       });
     </script>


    </body>
 </html>
