<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Fellows | GLG Social Impact</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/jquery.bxslider.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <%- include partials/header.ejs %>
      
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered">

              <h2 class="text-center">Our Community’s Impact</h2>
              <p class="text-center subhead">
                GLG’s Social Impact Fellows and partner organization have addressed a range of challenges around the world. Here's where some organizations within our community are making a difference:
              </p>
              <br/>
              <br/>

            </div>
          </div>
        </div>
        <div class="impact-map">
          <img src="/img/world-map.png" class="map-image">
        </div>
      </section>
      <hr>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">

              <h2>About GLG Social Impact</h2>
              <p class="subhead">
                GLG helps top social sector leaders and organizations around the world accelerate their impact and scale by providing pro-bono and discounted memberships to GLG’s learning community. GLG Social Impact clients include leading nonprofits, social enterprises, foundations, and impact investing funds.
              </p>
              <p class="subhead">
                GLG Social Impact advances learning and decision-making among the social sector’s top innovators – from supporting grantmaking and mission-driven investing through industry analysis and market landscaping to helping nonprofits with technical, regulatory, and strategic challenges.
              </p>
              <p class="subhead">Learn more about all of our <a href="fellows.html">Fellowship</a>.</p>
            </div>
            <div class="col-sm-6">
            </div>
          </div>
        </div>
      </section>
      <hr>

      <section>
        <div class="container"> 

          <div class="row">
            <div class="col-sm-8 col-centered">
              <h1>Partners</h1>
              <p class="subhead">Since our company's founding 15 years ago, we have partnered with leading social sector organizations around the world. Below are some of the organizations which have leveraged GLG's network to enhance and accelerate impact. <a href="/contact.html">Contact us</a> to to become a partner.
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <a href="http://www.spiritofamerica.net" target="_blank">
                <img src="img/spirit_of_america.png" alt="Spirit of America">
              </a>
              <p>Spirit of America is a nonprofit organization dedicated to helping Americans serving abroad assist local people in need by providing materials and expertise on the ground. Please see a <a href="http://glgsocialimpact.com/resources/GLG-SpiritOfAmerica-faq-0713.pdf">case study</a> and <a href="https://medium.com/p/3b09ab81d4d9">op-ed</a> about our partnership.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.resolutionproject.org" target="_blank">
                <img src="img/resolution.png" alt="Resolution">
              </a>
              <p>The Resolution Project, Inc. is dedicated to fostering youth leadership development around the world through collaborative social entrepreneurship.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.resolutionproject.org" target="_blank">
                <img src="img/endeavor.png" alt="Endeavor">
              </a>
              <p>Endeavor Global is a nonprofit that seeks to transform emerging economies by supporting high-impact entrepreneurs. Please see a <a href="http://www.endeavor.org/blog/endeavor-partners-with-glg-research-to-add-value-for-scale-up-entrepreneurs/" target="_blank">blog</a> post about our partnership.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <a href="http://www.bridgespan.org" target="_blank">
                <img src="img/bridgespan.png" alt="The Bridgespan Group">
              </a>
              <p>The Bridgespan Group is a nonprofit advisor and resource for mission-driven organizations and philanthropists.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.echoinggreen.org" target="_blank">
                <img src="img/echoing_green.png" alt="Echoing Green">
              </a>
              <p>Echoing Green is a nonprofit that provides seed funding and technical assistance to emerging social entrepreneurs with ideas for social change</p>
            </div>
            <div class="col-sm-4">
              <a href="http://fund.pfnyc.org" target="_blank">
                <img src="img/partnership_fund.png" alt="Partnership Fund for New York City">
              </a>
              <p>The Partnership Fund for New York City identifies and supports New York City’s most promising entrepreneurs in both the for-profit and not-for-profit sectors.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <a href="http://www.juilliard.edu" target="_blank">
                <img src="img/julliard.png" alt="Julliard">
              </a>
              <p>The Juilliard School is a performing arts conservatory which currently trains undergraduate and graduate students in dance, drama, and music.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.liftcommunities.org" target="_blank">
                <img src="img/lift.png" alt="LIFT">
              </a>
              <p>LIFT’s mission is to help community members achieve economic stability and well-being. LIFT is working to establish a new standard for holistic and enduring solutions in our country’s fight against poverty.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.youthinc-usa.org/" target="_blank">
                <img src="img/youth_inc.png" alt="Youth Inc">
              </a>
              <p>Youth INC is a venture philanthropy organization that invests in nonprofits serving children in the New York City area.  </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <a href="http://www.khoslaimpact.com" target="_blank">
                <img src="img/koshla_impact.png" alt="Koshla Impact">
              </a>
              <p>Khosla Impact is a venture fund that invests in market-based solutions and assists entrepreneurs developing products and services for people at the bottom of the world’s economic pyramid. </p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.onegoalgraduation.org" target="_blank">
                <img src="img/one_goal.png" alt="OneGoal">
              </a>
              <p>OneGoal identifies, trains and supports our nation's most effective teachers to lead underperforming high school students to reach their full potential and graduate from college.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.wadhwani-foundation.org" target="_blank">
                <img src="img/wadhwani.png" alt="Wadhwani">
              </a>
              <p>The Wadhwani Foundation is a private grant-making foundation committed to improving standards of living in emerging economies through accelerating economic development.</p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <a href="http://www.bpeace.org" target="_blank">
                <img src="img/bpeace.png" alt="BPeace">
              </a>
              <p>Bpeace is a non-profit network of business professionals who volunteer skills to entrepreneurs in conflict-affected countries to help them create significant employment for all.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.onegoalgraduation.org" target="_blank">
                <img src="img/one_goal.png" alt="OneGoal">
              </a>
              <p>OneGoal identifies, trains and supports our nation's most effective teachers to lead underperforming high school students to reach their full potential and graduate from college.</p>
            </div>
            <div class="col-sm-4">
              <a href="http://www.achievementfirst.org/" target="_blank">
                <img src="img/achievementfirst.png" alt="Achievement First">
              </a>
              <p>Achievement First is a high-performing network of 25 non-profit, college-preparatory, K-12 public charter schools in Connecticut, New York and Rhode Island.</p>
            </div>
          </div>

        </div>
      </section>

      <%- include partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.bxslider.js"></script>
      <script type="text/javascript">
       $(document).ready(function () {          
         $('.bxslider').bxSlider({
           mode: 'vertical',
           slideMargin: 3,
           auto:true,
           speed: 1000,
           pause: 8000
         });            
       });
     </script>


    </body>
 </html>
