<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="GLG Impact is an initiative that supports high-performing nonprofits and their leaders at critical growth junctures.">
  <link rel="shortcut icon" href="/ico/favicon.png">

  <title>Application Submission | GLG Social Impact</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/jquery.bxslider.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
    <%- include partials/header.ejs %>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-centered">
            <h1 class="text-center">GLG Impact Fellows - Membership Application</h1>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-7 col-centered">
            <!-- Hidden, shown if form succeeds -->
            <div id="form-success" class="col-md-12">
             <div class="panel panel-default">
               <div class="panel-heading">Application Submitted</div>
               <div class="panel-body">Thank you, your application has been submitted to GLG Social Impact.</div>
             </div>
            </div>

            <!-- Hidden, shown if form fails -->
            <div id="form-fail" class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Application Submission Failed</div>
                <div class="panel-body">
                  Unfortunately, your application failed to be submitted. We apologize for the inconvenience. Please try again or contact us at <a href="mailto:info@glgsocialimpact.com">info@glgsocialimpact.com</a> if you continue to have issues.
                  <br>
                  <br>
                  <a class="btn btn-primary btn-md red" id="try-again-button">Try Again</a>
                </div>

              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>


    <%- include partials/footer.ejs %>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/plugins/jquery.purl.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {          
       $('#form-success').hide();
       $('#form-fail').hide();
       $("#try-again-button").click(function(event) {
        event.preventDefault();
        history.back(1);
      });
       status = $.url().param('status');
       if(status === 'success') {
        $('#form-success').show();
      } else {
        $('#form-fail').show();             		
      }


      
    });
   </script>

 </body>
 </html>
