<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Apply to be a GLG Social Impact Fellow. GLG (Gerson Lehrman Group) supports nonprofits and their leaders.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Application | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
    <![endif]-->
</head>

<body id="application">
  <%- include partials/header.ejs %>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-centered text-center">
          <h2>GLG Social Impact - Fellowship Application</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 col-centered text-center">
          <p class="subhead">Applications are accepted on a rolling basis. Please include current contact information so that we can request additional information or schedule an interview as needed. <a href="/contact.html">Contact us</a> if you have any questions.</p>
        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-sm-6 col-centered">

          <form action="//services.glgresearch.com/form-mailer/socialimpact_application" method="post" role="form" class="form-horizontal application-form">
            <fieldset>

            <div class="control-group clearfix">
              <label class="control-label section-title">About You</label>
              <div class="controls">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="name" class="control-label">Name<span class="required"> *</span></label>
              <div class="controls">
                <input type="text" class="form-control" required="true" name="name" id="name">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="title" class="control-label">Title<span class="required"> *</span></label>
              <div class="controls">
                <input type="text" class="form-control" required="true" name="title" id="title">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="contact_email" class="control-label">Email Address<span class="required"> *</span></label>
              <div class="controls">
                <input type="email" class="form-control" required="true" name="contact_email" id="contact_email">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="contact_phone" class="control-label">Phone<span class="required"> *</span></label>
              <div class="controls">
                <input type="tel" class="form-control" required="true" name="contact_phone" id="contact_phone">
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="control-group clearfix">
              <label class="control-label section-title">Your Organization</label>
              <div class="controls">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="organization_name" class="control-label">Organization Name<span class="required"> *</span></label>
              <div class="controls">
                <input type="text" class="form-control" required="true" name="organization_name" id="organization_name">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="organization_address" class="control-label">Organization Address<span class="required"> *</span></label>
              <div class="controls">
                <input type="text" class="form-control" required="true" name="organization_address" id="organization_address">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="organization_website" class="control-label">Organization Website<span class="required"> *</span></label>
              <div class="controls">
                <input type="text" class="form-control" required="true" name="organization_website" id="organization_website">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="number_of_employees" class="control-label">Number of Employees<span class="required"> *</span><span class="label-extra">(note full-time, part-time, volunteers)</span></label>
              <div class="controls">
                <input type="text" class="form-control" required="true" name="number_of_employees" id="number_of_employees">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="years_in_operation" class="control-label">Number of Years In Operation<span class="required"> *</span></label>
              <div class="controls">
                <input type="text" class="form-control" required="true" name="years_in_operation" id="years_in_operation">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="annual_operating_budget" class="control-label">Annual Operating Budget<span class="required"> *</span></label>
              <div class="controls">
                <select id="annual_operating_budget" class="form-control">
                <option value="$0 - $499,000">$0 - $499,000</option>
                <option value="$500,000 - $999,999">$500,000 - $999,999</option>
                <option value="$1,000,000 – $2,999,999">$1,000,000 – $2,999,999</option>
                <option value="$3,000,000 – $6,999,999">$3,000,000 – $6,999,999</option>
                <option value="$7,000,000 – $9,999,999">$7,000,000 – $9,999,999</option>
                <option value="$10,000,000+">+$10,000,000</option>
              </select>
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="geographic_reach" class="control-label">Geographic reach<span class="required"> *</span></label>
              <div class="controls">
                <select id="geographic_reach" class="form-control">
                <option value="Local">Local</option>
                <option value="Regional">Regional</option>
                <option value="State">State</option>
                <option value="National">National</option>
                <option value="Global">Global</option>
              </select>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="control-group clearfix">
              <label class="control-label section-title">The Accelerator</label>
              <div class="controls">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="org_innovating" class="control-label">How is your organization innovating? (1000 characters max)<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="org_innovating" id="org_innovating" class="form-control" rows="3" maxlength="1000" ></textarea>
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="org_future_goals" class="control-label">What are your organization's future goals for the next three to five years? (1000 characters max)<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="org_future_goals" id="org_future_goals" class="form-control" rows="3" maxlength="1000" ></textarea>
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="org_priorities" class="control-label">What are your priorities for the next year? (1500 characters max)<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="org_priorities" id="org_priorities" class="form-control" rows="3" maxlength="1500" ></textarea>
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="org_benefit" class="control-label">How will your organization benefit from GLG accessing the GLG network? (1500 characters max)<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="org_benefit" id="org_benefit" class="form-control" rows="3" maxlength="1500" ></textarea>
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="org_effectiveness" class="control-label">Please describe how you measure the effectiveness and impact of your work? (1000 characters max)<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="org_effectiveness" id="org_effectiveness" class="form-control" rows="3" maxlength="1000" ></textarea>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="control-group clearfix">
              <label class="control-label section-title">The Fellowship</label>
              <div class="controls">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="personal_goals" class="control-label">What are your personal goals for participating in GLG Impact? (1000 characters max)<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="personal_goals" id="personal_goals" class="form-control" rows="3" maxlength="1000" ></textarea>
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="personal_connections" class="control-label">What types of high-level connections and expertise will help you personally reach your goals? (1000 characters max)<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="personal_connections" id="personal_connections" class="form-control" rows="3" maxlength="1000" ></textarea>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="control-group clearfix">
              <label class="control-label section-title">Other</label>
              <div class="controls">
              </div>
            </div>
            <div class="control-group clearfix">
              <label for="other" class="control-label">How did you hear about GLG Impact?<span class="required"> *</span></label>
              <div class="controls">
                <textarea required="true" name="other" id="other" class="form-control small-textarea" rows="3" maxlength="500"></textarea>
              </div>
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-md apply-button">Submit Application</button>

          </fieldset>
         </form>


        </div>
      </div>

    </div>
  </section>


<%- include partials/footer.ejs %>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
