<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Fellows | GLG Social Impact</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/jquery.bxslider.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <%- include partials/header.ejs %>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-7">
              <div>
                <h2>Get in Touch</h2>
                <p class="subhead">We're happy to answer questions regarding fellowship and partnering with GLG Social Impact. We've answered several of the most commonly asked questions on this page, but if you wish to find out more send an email to <a href="mailto:info@glgimpact.com">info@glgimpact.com</a></p>
              </div>

            </div>
            <div class="col-sm-4 col-sm-offset-1">
              <h2>Want to learn more?</h2>
              <p class="subhead">FAQ Question 1</p>
              <p class="subhead">FAQ Question 2</p>
              <p class="subhead">FAQ Question 3</p>
            </div>
          </div>
          
        </div>
      </section>

      <%- include partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.bxslider.js"></script>
      <script type="text/javascript">
       $(document).ready(function () {          
         $('.bxslider').bxSlider({
           mode: 'vertical',
           slideMargin: 3,
           auto:true,
           speed: 1000,
           pause: 8000
         });            
       });
     </script>


    </body>
 </html>
