<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Fellows | GLG Social Impact</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/jquery.bxslider.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body>
      <%- include partials/header.ejs %>
      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered">
                <h2>Get in Touch</h2>
                <p class="subhead">Questions regarding the Social Impact Fellowship or partnering with GLG Social Impact on a project? If your question isn’t answered on this page or if you wish to find out more send an email to <a href="mailto:info@glgimpact.com">info@glgimpact.com</a></p>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-sm-8 col-centered">
              <h2>Frequently Asked Questions About Our Fellowship</h2>
              <p class="subhead">
                See below for some FAQs, for a comprehensive list of questions as well as additional information on the Fellowship and GLG Social Impact, download our brochure.
              </p>
              <p class="highlight">
                <strong>How long is the Fellowship?</strong><br>
                Fellows are leaders with strong records and visions for their organizations. They have great teams and do something innovative that’s likely to scale. They are personally committed to learning, excited to grow professionally, and articulate ambitions for their organizations’ growth.
              </p>
              <p class="highlight">
                <strong>Who qualifies for the GLG Social Impact Fellowship?</strong><br>
                Fellows and their organizations have access to the GLG platform for 18 months.
              </p>
              <p class="highlight">
                <strong>What happens after the Fellowship ends? Is there an opportunity to remain part of the GLG community?</strong><br>
                GLG is committed to creating lasting partnerships with our Fellowship alumni. They will certainly remain part of GLG’s learning community after the Fellowship, typically with less intensive/frequent engagement than during their active Fellowship.
              </p>
              <p class="highlight">
                <strong>What is the anticipated time commitment?</strong><br>
                This opportunity will be what you make it. We want to be an extension of your team and engage with you consistently. The Fellowship requires a senior-level commitment to drive value through GLG membership, in addition to the kickoff on October 19–21, 2015.
              </p>
            </div>
          </div>
          
        </div>
      </section>

      <%- include partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.bxslider.js"></script>
      <script type="text/javascript">
       $(document).ready(function () {          
         $('.bxslider').bxSlider({
           mode: 'vertical',
           slideMargin: 3,
           auto:true,
           speed: 1000,
           pause: 8000
         });            
       });
     </script>


    </body>
 </html>
