<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="GLG (Gerson Lehrman Group) has partnered with leading social sector organizations around the world. GLG strives to enhance and accelerate impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Partners | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body id="error">
      <%- include partials/header.ejs %>
      <div class="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron jumbo-primary jumbo-first">
          <div class="container">
            <h1 style="text-align:center;">SORRY, PAGE NOT FOUND</h1>
          </div>
        </div>
      </div>
      
      
    </div>
    <%- include partials/footer.ejs %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
  </html>
