<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Meet the GLG Social Impact Fellows. GLG (Gerson Lehrman Group) supports innovative nonprofits and their leaders to create impact.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Fellows | GLG Social Impact</title>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
      <script src="/js/respond.min.js"></script>
      <![endif]-->
    </head>

    <body id="fellows">
      <%- include partials/header.ejs %>
      <section class="hero mini-hero">
        <div class="text-outer">
          <div class="text-inner">
            <div class="row">
              <div class="col-xs-10 col-sm-8 col-md-8 col-centered text-center">
                <h1 class="fadeInUpFast">Our Fellows</h1>
                <!-- <h3>Learn about Social Impact</h3> -->
              </div>
            </div>
          </div>
          <div class="overlay"></div>
        </div>
      </section>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <br>
              <h2>The GLG Social Impact Fellowship</h2>
              <p class="subhead">
                The Social Impact Fellowship leverages GLG’s learning platform to help top social sector professionals answer critical strategic and organizational questions, at no cost. Through the Fellowship, ambitious, innovative, and visionary nonprofit and social enterprise leaders learn in tailored interactions with experts across GLG’s membership and with each other.
              </p>
              <p class="highlight">
                <a href="resources/GLG-SI-FELLOWSHIP-BRO-033015-v10.pdf">Download the 2015 Social Impact Fellowship call for applications</a>.
              </p>
              <br>
              <p>
                <a href="application.html" target="_blank" class="btn btn-lg btn-brand">Apply for the Fellowship »</a>
              </p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
              <div class="row">
                <div class="col-xs-6">
                  <img src="/img/impact-event-discuss.jpg" class="img-responsive">
                </div>
                <div class="col-xs-6">
                  <img src="/img/impact-event-planning.jpg" class="img-responsive">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-xs-12">
                  <img src="/img/impact-dialogue.jpg" class="img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section-light">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>What Fellows Receive</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8 col-centered">
              <p class="subhead">
                The Fellowship begins with an in-person convening at GLG’s headquarters in New York City, where Fellows join our learning community and learn how to use the GLG platform. During the convening, Fellows work with GLG to identify the top challenges facing their organizations and set learning objectives to meet those challenges.
              </p>
              <br>
              <br>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <img src="/img/impact-support.jpg" class="img-responsive">
              <br>
              <p class="highlight">
                <strong>Learning</strong><br>
                Tailored learning opportunities include phone consultations with subject matter experts, in-person meetings, roundtable discussions, teleconferences, and workshops.
              </p>
            </div>
            <div class="col-sm-4">
              <img src="/img/impact-learning.jpg" class="img-responsive">
              <br>
              <p class="highlight">
                <strong>Strategic Support</strong><br>
                Dedicated GLG Research Managers serve as thought partners for Fellows and their management teams. Research Managers design engagements that provide insight to inform strategy, address challenges, and help Fellows’ organizations continue to grow.
              </p>
            </div>
            <div class="col-sm-4">
              <img src="/img/impact-events.jpg" class="img-responsive">
              <br>
              <p class="highlight">
                <strong>Events</strong><br>
                Fellows and their teams have access to GLG’s rich ongoing events offering throughout the year, in addition to custom learning engagements.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="what-we-look-for">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered text-center">
              <h2>What We Look For</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-centered text-center">
              <p class="subhead">
              We look for these qualities and characteristics in our Social Impact Fellows and their organizations.
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3 col-sm-offset-2 text-center">
              <img src="/img/icons/person.png" class="img-responsive icon">
            </div>
            <div class="col-sm-5">
              <p class="highlight">
              <strong>Fellows</strong><br>
              » Curious, committed, passionate, tireless<br>
              » Founder, Executive Director, or CEO<br>
              » Strong track record and clear vision for the organization<br>
              » Articulates high priority use cases for GLG<br>
              </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-sm-3 col-sm-offset-2 text-center">
              <img src="/img/icons/organization.png" class="img-responsive icon">
            </div>
            <div class="col-sm-5">
              <p class="highlight">
              <strong>Organizations</strong><br>
              » Innovative model, creating demonstrable impact to date<br>
              » Ambitious, articulated goals for growth<br>
              » Faces inflection point where accelerated learning around key strategic questions will advance mission<br>
              » At least 18 months in operation, past proof-of-model phase<br>
              » Team of at least five people beyond C-suite/management<br>
              </p>
              
            </div>
          </div>
        </div>
      </section>

      <section class="section-light">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-centered">
              <h2 class="text-center">2014 GLG Social Impact Fellows</h2>
              <p class="text-center subhead">
                The 2014 Social Impact Fellows and their organizations tackle a range of social challenges around the world. This class has engaged GLG’s pool of expertise in critical research questions to advance their organizations.
              </p>
              <br/>
              <br/>
            </div> 
          </div>
          <div class="row fellows text-center">
            <div class="col-sm-10 col-centered">
              <div class="row">

                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block catchafire">
                    <a href="fellows/rachael-chong-catchafire.html">
                      <img src="img/fellows/rachael_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/rachael-chong-catchafire.html">Rachael Chong</a></h4>
                    <h5 class="title">Founder and CEO,<br/> Catchafire</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block east-bali-cashews">
                    <a href="fellows/aaron-fishman-east-bali-cashews.html">
                      <img src="img/fellows/aaron_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/aaron-fishman-east-bali-cashews.html">Aaron Fishman</a></h4>
                    <h5 class="title">Founder & Director,<br/> East Bali Cashews</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block all-star-code">
                    <a href="fellows/christina-halpern-all-star-code.html">
                      <img src="img/fellows/christina_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/christina-halpern-all-star-code.html">Christina Lewis Halpern</a></h4>
                    <h5 class="title">Founder and President,<br/> All Star Code</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block nuru">
                    <a href="fellows/jake-harriman-nuru.html">
                      <img src="img/fellows/jake_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/jake-harriman-nuru.html">Jake Harriman</a></h4>
                    <h5 class="title">Founder and CEO,<br/> Nuru International</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block samasource">
                    <a href="fellows/leila-janah-samasource.html">
                      <img src="img/fellows/janah_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/leila-janah-samasource.html">Leila Janah</a></h4>
                    <h5 class="title">Founder and CEO,<br/> Samasource</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class=" fellow-block crea">
                    <a href="fellows/leticia-jauregui-crea.html">
                      <img src="img/fellows/leticia_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/leticia-jauregui-crea.html">Leticia M.<br>Jáuregui C.</a></h4>
                    <h5 class="title">Co-Founder and Executive Director,<br/> CREA</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block city-health-works">
                    <a href="fellows/manmeet-kaur-city-health-works.html">
                      <img src="img/fellows/manmeet_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/manmeet-kaur-city-health-works.html">Manmeet Kaur</a></h4>
                    <h5 class="title">Founder and Executive Director,<br/> City Health Works</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block resolution">
                    <a href="fellows/oliver-libby-resolution-project.html">
                      <img src="img/fellows/oliver_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/oliver-libby-resolution-project.html">Oliver Libby</a></h4>
                    <h5 class="title">Chair & Co-Founder,<br/> The Resolution Project</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block agora">
                    <a href="fellows/ben-powell-agora.html">
                      <img src="img/fellows/ben_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/ben-powell-agora.html">Ben Powell</a></h4>
                    <h5 class="title">Founder & CEO,<br/> Agora Partnerships</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block stbernard">
                    <a href="fellows/zack-rosenburg-stbernard.html">
                      <img src="img/fellows/zack_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/zack-rosenburg-stbernard.html">Zack Rosenburg</a></h4>
                    <h5 class="title">Co-Founder and CEO,<br/> St. Bernard Project</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block spark-mettle">
                    <a href="fellows/eugenie-teasley-spark-mettle.html">
                      <img src="img/fellows/eugenie_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/eugenie-teasley-spark-mettle.html">Eugenie Teasley</a></h4>
                    <h5 class="title">Founder & Chief Executive,<br/> Spark+Mettle</h5>
                  </div>
                </div>
                <div class="col-xs-6 col-md-3">
                  <div class="fellow-block venture-america">
                    <a href="fellows/andrew-yang-venture-america.html">
                      <img src="img/fellows/andrew_fellow.png" class="img-responsive fellow-image"/>
                    </a>
                    <h4 class="name"><a href="fellows/andrew-yang-venture-america.html">Andrew Yang</a></h4>
                    <h5 class="title">Founder and CEO,<br/> Venture for America</h5>
                  </div>
                </div>
              
              </div>
            </div>
          </div>

        </div>
      </section>

      <%- include partials/footer.ejs %>


      <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
      <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/jquery.bxslider.js"></script>
      <script type="text/javascript">
       $(document).ready(function () {          
         $('.bxslider').bxSlider({
           mode: 'vertical',
           slideMargin: 3,
           auto:true,
           speed: 1000,
           pause: 8000
         });            
       });
     </script>


    </body>
 </html>
