<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GLG Social Impact (Gerson Lehrman Group) is an initiative that supports high-performing nonprofits and their leaders at critical growth junctures.">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>GLG Social Impact - Gerson Lehrman Group</title>

    <!-- Custom styles for this template -->
    <link href="css/main.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="css/jquery.bxslider.css" rel="stylesheet"> -->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->

  </head>

  <body id="index">
    <%- include partials/header.ejs %>

    <section class="hero home-hero">
      <div class="text-outer">
        <div class="text-inner">
          <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-7 col-centered text-center">
              <!-- <h1>GLG Social Impact</h1> -->
              <h2>GLG Social Impact is transforming the way social sector leaders share expertise and learn.</h2>
              <br>
              <p>
              <a href="application.html" class="btn btn-lg btn-apply">Apply to be a 2015 Social Impact Fellow »</a>
              <a href="fellows.html" class="btn btn-lg btn-learn">Learn more</a>
              </p>
            </div>
          </div>
        </div>
        <div class="overlay"></div>
        <div class="slide-show"></div>
      </div>
    </section>

    <section class="meet-the-fellows">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <h2>Meet the 2014 Fellows</h2>
            <p class="subhead">Through our Fellowship, visionary nonprofit and social enterprise leaders learn from tailored interactions with GLG’s members and other experts – and from each other.</p>
            <br/>
            <p><a href="fellows.html" class="btn btn-lg btn-brand learn-more">Learn about the fellowship »</a></p>
          </div>
          <div class="col-sm-7">
            <div class="videoWrapper">
              <iframe width="1280" height="720" src="https://www.youtube.com/embed/UXnRgKEHMj8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="quote-section clearfix section-light">
      <div class="container"> 
      <!--Testimonials Start-->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="quote-wrapper">
              <h2 class="text-center quote-mark">“</h2>
            </div>

            <ul class="bxslider text-center">
                       
              <li>
                <p class="subhead quote">Through our work with GLG, we’ve learned from some of the most knowledgeable and innovative thinkers in healthcare. They have helped our staff transition to new roles and have strengthened our business model so that it is durable and adaptable to new communities.</p>
                <div class="long-dash"></div>
                <span class="quote-name">Manmeet Kaur, City Health Works, Founder & Executive Director</span>
              </li>

              <li>
                <p class="subhead quote">GLG is leveraging the greatest asset there is – human talent – to help organizations like ours succeed. With GLG, we’ve explored new revenue streams, devised systems infrastructure, and planned for our growth. Our partnership is hugely valuable.</p>
                <div class="long-dash"></div>
                <span class="quote-name">Zack Rosenburg, St. Bernard Project, Co-Founder & CEO</span>
              </li>

              <li>
                <p class="subhead quote">We share GLG’s values and commitment to service and volunteerism. The Fellowship helps us better understand the market for skills-based volunteerism, build a more effective team through training and role differentiation, and better utilize our online platform in order to grow.</p>
                <div class="long-dash"></div>
                <span class="quote-name">Rachael Chong, Catchafire, Founder & CEO</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="partner-section">
      <div class="container"> 
       <!--Testimonials Start-->
       <div class="row">
         <div class="col-sm-5">
            <br>
            <h2>GLG Social Impact Partners</h2>
            <p class="subhead">In addition to the GLG Social Impact Fellowship, GLG helps leading nonprofits, foundations, social enterprises, and impact funds learn, make decisions, and deliver sustained impact.</p>
            <br/>
            <p><a href="about.html" class="btn btn-brand btn-lg learn-more">See featured partners »</a></p>
            </div>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="row">
              <div class="col-xs-6">
                <a href="http://www.bridgespan.org" target="_blank">
                  <img src="img/partners/bridgespan-group.png" alt="The Bridgespan Group" class="img-responsive partner-logo">
                </a>
              </div>
              <div class="col-xs-6">
                <a href="http://www.echoinggreen.org" target="_blank">
                  <img src="img/partners/echoing-green.png" alt="Echoing Green" class="img-responsive partner-logo square-logo">
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <a href="http://www.khoslaimpact.com" target="_blank">
                  <img src="img/partners/khosla-impact.png" alt="Koshla Impact" class="img-responsive partner-logo">
                </a>
              </div>

              <div class="col-xs-6">
                <a href="http://www.spiritofamerica.net" target="_blank">
                  <img src="img/partners/spirit-of-america.png" alt="Spirit of America" class="img-responsive partner-logo spirit-america">
                </a>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6">
                <a href="http://www.roomtoread.org" target="_blank">
                  <img src="img/partners/room-to-read.jpg" alt="Room to Read" class="img-responsive partner-logo square-logo">
                </a>
              </div>

              <div class="col-xs-6">
                <a href="http://www.endeavor.org" target="_blank">
                  <img src="img/partners/endeavor.png" alt="Endeavor" class="img-responsive partner-logo endeavor">
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


    <%- include partials/footer.ejs %>

    <!-- Additional Javascript for Homepage -->
    <script src="js/jquery.bxslider.js"></script>
    <script src="js/slideshow.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {          
       $('.bxslider').bxSlider({
         mode: 'fade',
         slideMargin: 3,
         auto:true,
         speed: 1000,
         pause: 8000,
         pager: false,
         useCSS: false,
         controls: false
       });            
     });
    </script>

   </body>
 </html>
