<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="GLG Social Impact (Gerson Lehrman Group) is an initiative that supports high-performing nonprofits and their leaders at critical growth junctures.">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>GLG Social Impact - Gerson Lehrman Group</title>

  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <!-- <link href="css/jquery.bxslider.css" rel="stylesheet"> -->

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.js"></script>
    <script src="/js/respond.min.js"></script>
  <![endif]-->


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47764303-2', 'glgsocialimpact.com');
    ga('send', 'pageview');

  </script>

</head>

<body id="index">
  <%- include partials/header.ejs %>

  <section class="hero home-hero">
    <div class="text-outer">
      <div class="text-inner">
        <div class="row">
          <div class="col-xs-10 col-sm-8 col-md-6 col-centered text-center">
            <!-- <h1>GLG Social Impact</h1> -->
            <h2>Transforming the way nonprofit leaders and social entrepreneurs share expertise and learn.</h2>
            <br>
            <p><a href="/application.html" class="btn btn-lg btn-brand">Apply to be a 2015 Social Impact Fellow »</a></p>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <h2>Meet the 2014 GLG Social Impact Fellows</h2>
            <p class="subhead">Through our Fellowship visionary nonprofit and social enterprise leaders are able to learn from tailored interactions with experts within GLG’s membership and with other Social Impact Fellows.</p>
            <br/>
            <p><a href="/fellows.html" class="btn btn-lg btn-brand">Learn about fellowship »</a></p>
          </div>
          <div class="col-sm-6">
            <div class="videoWrapper">
              <iframe width="1280" height="720" src="https://www.youtube.com/embed/UXnRgKEHMj8?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="quote-section clearfix">
      <div class="container"> 
      <!--Testimonials Start-->
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="quote-wrapper">
              <h2 class="text-center quote-mark">“</h2>
            </div>

            <ul class="bxslider text-center">
              <li>
                <p class="subhead quote">GLG has been an invaluable source of hard-to-find expertise that has allowed us to complement our own network and provide valuable insights to our Endeavor Entrepreneurs around the world.”</p>
                <span class="quote-name">- Fernando Fabre, President, Endeavor Global</span>
              </li>

              <li>
                <p class="subhead quote">“GLG is leveraging the greatest asset there is – human talent – to help organizations like ours succeed. With GLG, we’ve explored new revenue streams, devised systems infrastructure, and planned for our growth. Our partnership is hugely valuable.”</p>
                <span class="quote-name">– Zack Rosenburg, St. Bernard Project, Co-Founder & CEO</span>
              </li>

              <li>
                <p class="subhead quote">“We share GLG’s values and commitment to service and volunteerism. The Fellowship helps us better understand the market for skills-based volunteerism, build a more effective team through training and role differentiation, and better utilize our online platform in order to grow.”</p>
                <span class="quote-name">– Rachael Chong, Catchafire, Founder & CEO</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="partner-section">
      <div class="container"> 
       <!--Testimonials Start-->
       <div class="row">
         <div class="col-sm-5">
            <br>
            <h2>GLG Social Impact Partners</h2>
            <p class="subhead">In addition to the GLG Social Impact Fellows program, GLG supports the work of leading nonprofits, foundations, social enterprises and impact funds.</p>
            <br/>
            <p><a href="about.html" class="btn btn-brand btn-lg learn-more">Learn more »</a></p>
            </div>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="row">
              <div class="col-sm-6">
                <img src="/img/partners/juilliard.png" class="img-responsive partner-logo" />
              </div>
              <div class="col-sm-6">
                <img src="/img/partners/endeavor.png" class="img-responsive partner-logo endeavor" />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <img src="/img/partners/spirit-of-america.png" class="img-responsive partner-logo" />
              </div>

              <div class="col-sm-6">
                <img src="/img/partners/youth-inc.png" class="img-responsive partner-logo" />
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <img src="/img/partners/one-goal.png" class="img-responsive partner-logo" />
              </div>

              <div class="col-sm-6">
                <img src="/img/partners/bpeace.png" class="img-responsive partner-logo bpeace" />
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>


<%- include partials/footer.ejs %>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.bxslider.js"></script>
    <script type="text/javascript">
     $(document).ready(function () {          
       $('.bxslider').bxSlider({
         mode: 'fade',
         slideMargin: 3,
         auto:true,
         speed: 1000,
         pause: 8000,
         pager: false,
         useCSS: false,
         controls: false

       });            
     });
   </script>

 </body>
 </html>
